{% load crispy_forms_tags %}
<!-- recruitment parameters -->
<div class = "row">
    <div class="col col-md-4 text-right">                        
        <u><span v-html="recruitmentTitle"></span></u>
    </div>
    <div class="col col-md-8">
        
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        {{updateRecruitmentParametersForm.gender.label}}:
    </div>
    <div class="col col-md-8">
        <span v-html="genders_list"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        {{updateRecruitmentParametersForm.subject_type.label}}:
    </div>
    <div class="col col-md-8">
        <span v-html="subject_type_list"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        {{updateRecruitmentParametersForm.actual_participants.label}}:
    </div>
    <div class="col col-md-8">
        <span v-html="recruitment_params.actual_participants"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        {{updateRecruitmentParametersForm.registration_cutoff.label}}:
    </div>
    <div class="col col-md-8">
        <span v-html="recruitment_params.registration_cutoff"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Experience Level:
    </div>
    <div class="col col-md-8">
        <div v-if="recruitment_params.experience_constraint">
            <span v-html="recruitment_params.experience_min + ' to ' + recruitment_params.experience_max"></span>
        </div>
        <div v-else>
            ---
        </div>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Allow Multiple Participations:
    </div>
    <div class="col col-md-8">
        <div v-if="recruitment_params.allow_multiple_participations">
           <span v-html="'Yes'"></span>
        </div>
        <div v-else>
           <span v-html="'No'"></span>
        </div>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Include Institution Experience (<span v-if="recruitment_params.institutions_include_all">All</span><span v-else>1+</span>):
    </div>
    <div class="col col-md-8">
        <span v-html="include_institutions_list"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Exclude Institution Experience (<span v-if="recruitment_params.institutions_exclude_all">All</span><span v-else>1+</span>):
    </div>
    <div class="col col-md-8">    
        <span v-html="exclude_institutions_list"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Include Experiment Experience (<span v-if="recruitment_params.experiments_include_all">All</span><span v-else>1+</span>):
    </div>
    <div class="col col-md-8">
        <span v-html="include_experiments_list"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Exclude Experiment Experience (<span v-if="recruitment_params.experiments_exclude_all">All</span><span v-else>1+</span>):
    </div>
    <div class="col col-md-8">    
        <span v-html="exclude_experiments_list"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Include Only Subjects in Schools (<span v-if="recruitment_params.schools_include_constraint">On</span><span v-else>Off</span>):
    </div>
    <div class="col col-md-8">
        <span v-html="include_schools_list"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Exclude Subjects in Schools (<span v-if="recruitment_params.schools_exclude_constraint">On</span><span v-else>Off</span>):
    </div>
    <div class="col col-md-8">    
        <span v-html="exclude_schools_list"></span>
    </div>               
</div>
<div class = "row">
    <div class="col col-md-4 text-right">
        Trait Constraints (<span v-if="recruitment_params.trait_constraints_require_all">All</span><span v-else>1+</span>):
    </div>
    <div class="col col-md-8">    
        <span v-html="trait_constraint_list"></span>
    </div>               
</div>
<div class = "row mt-2">
    <div class="col col-md-4 text-right">

    </div>
    <div class="col col-md-8">
        <button class="btn btn-outline-primary btn-sm" type="button" v-on:click = "showEditRecruitment()">Edit <i class="fas fa-pen fa-xs"></i></button> 
        <button class="btn btn-outline-primary btn-sm" type="button" v-on:click = "showEditTraits()">Traits <i class="fas fa-pen fa-xs"></i></button>
    </div>               
</div>
<!-- end recruitment parameters -->