{% load crispy_forms_tags %}

<div class="card" v-cloak>
    <div class="card-header">
      Reset Password
    </div>

    <div class="card-body">         

      <form id="password_reset_form" v-on:submit.prevent="send_reset()">
        {% csrf_token %}        
        <div class="row">
          <div class = "col col-lg-8 offset-lg-2">  
            {{ form.username|as_crispy_field }}            
          </div>            
        </div>  
      </form>

      <div class="row">
          <div class="col col-lg-8 offset-lg-2">
              <button v-on:click ="send_reset()" type="button" class="btn btn-outline-primary me-2">
                <span v-html = "buttonText"></span>
              </button> 
              <span v-html = "messageText" class="text-right text-danger"></span>
          </div>
          
      </div>           
    </div>

    <div class="card-footer text-center">
      Need Help? <a href = 'mailto:{{labManager.email}}'>{{labManager.email}}</a>
    </div>

  </div>