{% load humanize %}
<div class="card">                  
    <div class="card-header">
        <div class="row">
            <div class="col-md-auto">
                Search Users 
            </div>
            <div class="col-md">
                <span class="float-right">
                    <div class="row">

                        <div class="col-md-auto mt-2 mt-md-0">
                            <a href="{% url 'userSearchParameters' %}" class="mr-2">Search by recruitment parameters</a>
                        </div>
                        {%if user.is_staff%}
                        <div class="col-md-auto mt-2 mt-md-0 pl-3 pl-md-0 pr-0">
                            <button class="btn btn-outline-primary btn-sm mr-2" 
                                    type="button" 
                                    title="Upload international student list"
                                    v-on:click = "showInternational()">
                                International Subjects <i class="fas fa-globe-europe"></i>
                            </button> 
                        </div>

                        <div class="col-md-auto mt-2 mt-md-0 pl-3 pl-md-0 pr-0">
                            <button class="btn btn-outline-primary btn-sm mr-2" 
                                    type="button" 
                                    title="Send Email to all active subjects."
                                    v-on:click = "showSendMessage()">
                                Email <i class="fa fa-envelope" aria-hidden="true"></i>
                            </button> 
                        </div>
                        {%endif%}
                        <div class="col-md-auto mt-2 mt-md-0">
                            Active Users (In past 90 days): {{activeCount|intcomma}} ({{activeCountRecent|intcomma}})
                        </div>
                    </div>
                    
                </span>
            </div>
        </div>
                                            
    </div>
    <div class="card-body">
        
        <div class="row align-items-center">
            <div class="col-lg-3">
                
            </div>
            <div class="col-md-6 text-center">
                
                    <div class="input-group mb-3">
                        <input  v-on:keyup.enter="getUsers()" id="idsearchInfo" v-model="searchInfo" type="text" class="form-control" placeholder="User Info" aria-label="User Info" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" v-on:click = "getUsers()">
                                <span v-html="searchButtonText"></span>
                            </button>
                        </div>
                    </div>
                
            </div>
            <div class="col-md-3 text-center text-md-left">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" v-model="activeOnly">
                    <label class="form-check-label" for="defaultCheck1">
                        Active and Confirmed
                    </label>
                </div>
            </div>                   
        </div>
        <div v-if="warningText != ''" class = "row justify-content-center mb-4">
            <div class = "col text-center">
                <span v-html="warningText" style="color:red;"></span>
            </div>
        </div>           
        <div class = "row ">
            <div class = "col text-center mt-4 mt-md-2">                
                <button class="btn btn-outline-primary btn-sm mr-2" type="button" v-on:click = "getBlackballs()">
                    <span v-html="blackBallButtonText"></span>
                </button> 
                <button class="btn btn-outline-primary btn-sm" type="button" v-on:click = "getNoShowBlocks()">
                    <span v-html="noShowButtonText"></span>
                </button>                                       
            </div>
        </div>
        
        <!-- search results table -->
        <div class="row justify-content-center">
            <div class="col">
                <table class="table table-hover table-condensed table-responsive-xl">                            

                    <caption style="caption-side:top;text-align: center;">Users ([[searchCount]])</caption>

                    <thead>
                        <th scope="col">
                            Name
                        </th> 
                        <th scope="col" style="text-align: center;">
                            Email
                        </th> 
                        <th scope="col" style="text-align: center;">
                            Student ID
                        </th>
                        <th scope="col" style="text-align: center;">
                            Public ID
                        </th>
                        <th scope="col" style="text-align: center;">
                            Year
                        </th>
                        <th scope="col" style="text-align: center;">
                            Type
                        </th>                                                     
                        
                    </thead>

                    <tbody id="userList">                                                  
                        <tr v-for="(u,index) in users" v-bind:key="u.id">                                                                          
                            <td class="text-nowrap"> 
                                <a :href="'/userInfo/' + u.id + '/' "><span v-html="u.last_name + ', ' + u.first_name"></span></a> ([[u.id]])                                      
                            </td>
                            <td class="text-nowrap text-center">                                        
                                [[u.email]]
                            </td>  
                            <td class="text-nowrap text-center">  
                                [[u.profile__studentID]]
                            </td>
                            <td class="text-nowrap text-center">  
                                [[u.profile__public_id]]
                            </td>
                            <td class="text-nowrap text-center">  
                                [[u.profile__subject_type__name]]
                            </td>
                            <td class="text-nowrap text-center">  
                                [[u.profile__type__name.toUpperCase()]]
                            </td>                                                         
                        </tr>                                                    
                    </tbody>
                    
                </table>  
            </div>

        </div>         

    </div>                    
</div>