<div class="card">
    <div class="card-header">
      Verify Your Email Address
    </div>

    <div class="card-body">
      <div v-if="failed">
        <div class="row">
          <div class = "col text-center">  
                        
                The verification link no longer works.<br>
                <a href="{% url 'profileVerifyResend'%}">Create a new one</a>
                   
          </div>            
        </div>
      </div>
      <div v-else-if="emailVerified">
        <div class="row">
          <div class = "col text-center">             
            Email verified.
          </div>            
        </div>
        <div class="row">
          <div class = "col text-center">             
            You are now eligible to be invited to experiments.
          </div>            
        </div>
        <div class="row">
          <div class = "col text-center"> 
            Please take a moment to confirm your profile is correct : <a href="{% url 'profile'%}">View Profile</a>
          </div>
        </div>
      </div>
      <div v-else>
                    
          <div class="row">
              <div class="col text-center">

                  <button type="button" v-on:click="verifyEmail()" class="btn btn-outline-primary">
                     <span v-html="buttonText"></span>
                  </button>

              </div>
          </div>

      </div>

    </div>      
</div>