{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.5.8/browser/pixi.js" integrity="sha512-XXMxz8zewBFGz0m+NWmtDDUAmmhEQSMPT3F4ETxwc4I/BDGElA0CWEWAZDON/U+LkJWg7yCPL67wV7HDLdrXCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
    <script type="text/javascript">
    $(document).ready(function(){
        {%include "subject/consent_form/consent_form.js"%}
    });

    </script>
    <style>
        [v-cloak] {
          display: none;
        }

        .signature {
            height: 150px;
            background-color: white; 
            width: 100%;
            max-width: 500px;
            border-style: solid;
            border-width: 1px;
        }

    </style>
{%endblock head%}

{%block content%}
<div class="row justify-content-center" v-cloak>
    <div class="col-lg-6">
        {%include "subject/consent_form/consent_form_card.html"%}                   
    </div>
</div>

{%endblock content%}
