{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.4.0/pixi.js" integrity="sha512-DI35SktlV4arMkRaiggNRpgD/uh8/Oz8uyEI/7BBIn5DA044Gh8izWH1/08lCIuoM+hQnN4Ex9Lj90a565Sveg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            {%include "subject/consent_form/consent_form.js"%}
        });

    </script>
    <style>
        [v-cloak] {
          display: none;
        }

        .signature {
            height: 150px;
            background-color: white; 
            width: 100%;
            max-width: 500px;
            border-style: solid;
            border-width: 1px;
        }

    </style>
{%endblock head%}

{%block content%}
<div class="row justify-content-center" v-cloak>
    <div class="col-lg-6">
        {%include "subject/consent_form/consent_form_card.html"%}                   
    </div>
</div>

{%endblock content%}
