{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<meta name="description" content="Economic Science Institute's frequently asked questions.">

<script>
    document.addEventListener("DOMContentLoaded", function(){

        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = Vue.createApp({
        
            delimiters: ["[[", "]]"],        
            data(){ return {
                faq:[],
            }},

            methods:{
                //get attended and upcoming sessions
                getFaqs:function(){
                    axios.post('/faq/', {
                        status :"getFaqs" ,                                                                                                                             
                    })
                    .then(function (response) {     
                        app.faq =  response.data.faq;                    
                    })
                    .catch(function (error) {
                        console.log(error);
                        app.searching=false;
                    });                        
                },

                formatDate: function(value){
                        if (value) {        
                            //console.log(value);                    
                            return moment(String(value)).local().format('M/D/YYYY, h:mm a');
                        }
                        else{
                            return "date format error";
                        }
                    },    
            },

            mounted(){
                    this.getFaqs();                    
            },
        }).mount('#app');

        
    });
</script>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
    <div class="col col-lg-6">
        <div class="card" v-cloak>                  
            <div class="card-header">
                <div class="row">
                    <div class ="col">
                        Frequently Asked Questions
                    </div>
                    <div class ="col text-end">
                        Need Help?
                    </div>                    
               </div>
               <div class="row">
                    <div class ="col text-end">
                        <a href= "mailto:{{labManager.email}}">{{labManager.email}}<a>
                    </div>                    
                </div>                                                                 
            </div>
            <div class="card-body">     

                <div class="accordion" id="accordionExample">          
                    <div class="accordion-item" v-for="(f,index) in faq" v-bind:key="f.id">
                        <h2 class="accordion-header" v-bind:id="'heading'+index">
                          <button class="accordion-button collapsed" 
                                  type="button" 
                                  data-bs-toggle="collapse" 
                                  v-bind:data-bs-target="'#collapse'+index" 
                                  aria-expanded="false"
                                  v-bind:aria-controls="'collapse'+index">
                                [[f.question]]
                          </button>
                        </h2>
                        <div v-bind:id="'collapse'+index" 
                             class="accordion-collapse collapse" 
                             v-bind:aria-labelledby="'heading'+index" 
                             data-bs-parent="#accordionExample">

                            <div class="accordion-body">
                                <span v-html="f.answer"></span>
                            </div>
                        </div>
                      </div>

                </div>
                
            </div>                    
        </div>                
    </div>
</div>    


{%endblock content%}