{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    $(document).ready(function(){
        {%include "subject/home/home.js"%}
    });

    </script>
    <style>
        [v-cloak] {
          display: none;
        }
    </style>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center" v-cloak>
    <div class="col col-md-6">
        {%include "subject/home/experiments_card.html"%}                   
    </div>
</div>

{%include "modals/consentModal.html"%}
{%include "modals/subject_view_invitation_modal.html"%}
{%include "modals/subject_view_invitation_modal.html"%}
{%include "modals/subject_view_consent_form_modal.html"%}

{%endblock content%}
