{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    $(document).ready(function(){
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                upcomingInvitations:[],
                pastAcceptedInvitations:[],
                allInvitations:[],
                showInvitationsText:'Show <i class="fa fa-eye fa-xs"></i>',
                noInvitationsFoundText:'',
                lastActionFailed:false,
                consent_required:false,
                consentFormText:"",
            },

            methods:{
                getCurrentInvitations:function(){
                    axios.post('/subjectHome/', {
                                    action :"getCurrentInvitations" ,                                                                                                                             
                                })
                                .then(function (response) {    
                                    
                                    app.takeUpcomingInvitations(response);
                                    app.$data.consentFormText = response.data.consentFormText;
                                    
                                    app.$data.pastAcceptedInvitations=response.data.pastAcceptedInvitations;  
                                
                                    for(var i=0;i<app.$data.pastAcceptedInvitations.length;i++)
                                    {
                                        app.$data.pastAcceptedInvitations[i].date = app.formatDate(app.$data.pastAcceptedInvitations[i].date,
                                                                                                   null,
                                                                                                   app.$data.pastAcceptedInvitations[i].enable_time,
                                                                                                   null);

                                        app.$data.pastAcceptedInvitations[i].earnings = parseFloat(app.$data.pastAcceptedInvitations[i].earnings + 
                                                                                                   app.$data.pastAcceptedInvitations[i].show_up_fee).toFixed(2);
                                        app.$data.pastAcceptedInvitations[i].show_up_fee = parseFloat(app.$data.pastAcceptedInvitations[i].show_up_fee).toFixed(2);
                                    }
                                })
                                .catch(function (error) {
                                    console.log(error);                                    
                                });                        
                },

                acceptConsentForm:function(){

                    axios.post('/subjectHome/', {
                                    action :"acceptConsentForm",                                                                                                                                                                
                                })
                                .then(function (response) {     
                                    app.takeUpcomingInvitations(response);                                                                     
                                })
                                .catch(function (error) {
                                    console.log(error);                                    
                                });                        
                },
                
                acceptInvitation:function(id,index){
                    //$( '#acceptInvitation' + index ).replaceWith('<i class="fas fa-spinner fa-spin"></i>');

                    app.$data.upcomingInvitations[index].waiting=true;

                    axios.post('/subjectHome/', {
                                    action :"acceptInvitation",
                                    id:id,                                                                                                                             
                                })
                                .then(function (response) {     
                                    app.takeUpcomingInvitations(response);                                                                     
                                })
                                .catch(function (error) {
                                    console.log(error);                                    
                                });                        
                },

                cancelAcceptInvitation:function(id,index){
                    //$( '#cancelAcceptInvitation' + index ).replaceWith('<i class="fas fa-spinner fa-spin"></i>');
                    app.$data.upcomingInvitations[index].waiting=true;

                    axios.post('/subjectHome/', {
                                    action :"cancelAcceptInvitation",
                                    id:id,                                                                                                                             
                                })
                                .then(function (response) {     
                                    app.takeUpcomingInvitations(response);                                                                  
                                })
                                .catch(function (error) {
                                    console.log(error);                                    
                                });                        
                },
                
                showAllInvitations:function(index){
                    app.$data.showInvitationsText='<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>';

                    axios.post('/subjectHome/', {
                                    action :"showAllInvitations",                                                                                                                            
                                })
                                .then(function (response) {     
                                    app.$data.allInvitations=response.data.allInvitations;      
                                    
                                    app.$data.noInvitationsFoundText = "No invitations found"

                                    for(var i=0;i<app.$data.allInvitations.length;i++)
                                    {
                                        app.$data.allInvitations[i].date = app.formatDate(app.$data.allInvitations[i].date,
                                                                                          null,
                                                                                          app.$data.allInvitations[i].enable_time,
                                                                                          null);                                       
                                    }
                                    
                                    app.$data.showInvitationsText='Show <i class="fa fa-eye fa-xs"></i>';
                                })
                                .catch(function (error) {
                                    console.log(error);                                    
                                });                        
                },
                
                takeUpcomingInvitations:function(response){

                    app.$data.consent_required=response.data.consent_required; 
                    app.$data.upcomingInvitations=response.data.upcomingInvitations;                   

                    for(var i=0;i<app.$data.upcomingInvitations.length;i++)
                    {
                        temp_s = app.$data.upcomingInvitations[i];

                        for(var j=0;j<temp_s.experiment_session_days.length;j++)
                        {
                            temp_s.experiment_session_days[j].date = app.formatDate(temp_s.experiment_session_days[j].date,
                                                                                    temp_s.experiment_session_days[j].date_end,
                                                                                    temp_s.experiment_session_days[j].enable_time,
                                                                                    temp_s.experiment_session_days[j].length);
                        }                        
                    }
                    
                    app.$data.lastActionFailed = response.data.failed;

                    if(app.$data.consent_required)
                    {
                        $('#consentModal').modal({backdrop: 'static', keyboard: false}).show();
                    }
                    else
                    {
                        if(($("#consentModal").data('bs.modal') || {})._isShown)
                        {
                            $('#consentModal').modal('toggle');
                        }                        
                    }
                },

                formatDate: function(value,value2,enable_time,length){
                        if (value) {        
                            //console.log(value);       
                            rValue =   moment(String(value)).local().format('dddd');
                            rValue +=   "<br>";
                            rValue +=   moment(String(value)).local().format('M/D/YYYY');   
                            rValue += "<br>";

                            if(enable_time)
                            {
                                rValue += moment(String(value)).local().format('h:mm a'); 
                                if(value2 != null)
                                {
                                    rValue += " to " + moment(String(value2)).local().format('h:mm a'); 
                                }  
                            }
                            else
                            {
                                rValue += "Anytime";
                                
                                if(length != null)
                                {
                                    rValue += ", " + length + " min";
                                }
                            }    
                            return rValue;
                        }
                        else{
                            return "date format error";
                        }
                    },
            },

            mounted: function(){
                    this.getCurrentInvitations();                    
            },
        });

    });

    </script>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
    <div class="col col-lg-6">
        <div class="card">                  
            <div class="card-header">
                Experiments                                                       
            </div>
            <div class="card-body">    
                <div style="text-align: center;color:red;padding-bottom: 5px;">
                    You cannot leave an experiment if it starts within 24 hours. 
                </div>
                <div v-if="lastActionFailed"  style="text-align: center;color:red;padding-bottom: 5px;">
                    <span v-html ="'***There was error processing your last request***'"></span>
                </div>           
                <!-- upcoming table -->
                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Upcoming Experiments</caption>

                    <thead>                         
                        <th width="50%" style="text-align: center;">
                            Date
                        </th>                                                      
                        <th width="50%" style="text-align: center;">
                            Control
                        </th>
                    </thead>
                    <tbody>
                        <tr v-for="(s,index) in upcomingInvitations" v-bind:key="s.id">
                           
                            <td  style="text-align: center;">      
                                <div v-for="(sd,index2) in s.experiment_session_days"  v-bind:key="sd.id" style="padding-bottom: 5px;"> 
                                    <span v-html=sd.date></span>
                                    <div v-if="sd.hours_until_start <= 24 && sd.hours_until_start > 0">
                                        <span v-html = "'Starts in:<br>' +  sd.hours_until_start_str " style="color:red;"></span>
                                    </div>
                                    <div v-else-if="sd.hours_until_start <= 0 && sd.hours_until_start >= -0.25">
                                        <span v-html = "'Starts Now'" style="color:red;"></span>
                                    </div>  
                                </div>                                                       
                                <div v-if="s.experiment_session_days.length > 1">
                                    <span v-html = "'You must be able to attend all days.'" style="color:red;"></span>
                                </div>                                    
                            </td>
                            <td  style="text-align: center;">
                                

                                    <div v-if="s.canceled">
                                        <span v-html="'*** Canceled ***'" style="color: red;"></span>
                                    </div>
                                    <div v-else-if="s.confirmed">
                                        <div style="margin-bottom: 5px">
                                            You are attending.
                                        </div>
                                        <div v-if="s.hours_until_first_start > 24">
                                            <button v-bind:id="'cancelAcceptInvitation' + s.id" type="button" class="btn btn-primary" v-on:click ="cancelAcceptInvitation(s.id,index)">
                                                <span v-html="'I no longer wish to attend.'"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div style="margin-bottom: 5px">
                                            You are not attending.
                                        </div>
                                        <div v-if ="s.hours_until_first_start <= -0.25">
                                            <span v-html = "'The experiment has started.'" style="color:red;"></span>
                                        </div>
                                        <div v-else>
                                            <div v-if = "s.full">
                                                <span v-html="'The session is already full but a spot may open later.'" style="color: red;"></span>
                                            </div>
                                            <div v-else-if = "s.valid === false">
                                                <span v-html="'You are not eligible for this experiment.'" style="color: red;"></span>
                                            </div>
                                            <div v-else>
                                                <button v-bind:id="'acceptInvitation' + s.id" type="button" class="btn btn-success" v-on:click ="acceptInvitation(s.id,index)">
                                                    <span v-html="'I want to attend.'"></span>
                                                </button>
                                            </div>  
                                        </div>                                       
                                    </div>

                                                                                               
                            </td>
                        </tr>                        
                    </tbody>
                    <tfoot v-if="upcomingInvitations.length === 0">
                        <tr>
                            <td><span v-html="'No upcoming experiments.'"></span></td>
                        </tr>
                    </tfoot>                                    
                </table>
                <br>
                <hr>
                <br>
                <!-- attended table -->
                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Experiments Attended</caption>

                    <thead>                        
                        <th width="50%" style="text-align: center;">
                            Date
                        </th>                                                      
                        <th width="50%" style="text-align: center;">
                            Earnings
                        </th>
                    </thead>
                    <tbody>                        
                        <tr v-for="(s,index) in pastAcceptedInvitations" v-bind:key="s.id">                            
                            <td  style="text-align: center;">                                                                
                                <div v-html="s.date"></div>
                                <div v-if="s.multiDay"><span v-html="'(Multi-day)'"></span></div>                                    
                            </td>
                            <td  style="text-align: center;">     
                                <div v-if="s.bumped">
                                    <div v-html="'$'+s.show_up_fee"></div>
                                    <div v-html="'(Bumped)'"></div>
                                </div>
                                <div v-else>
                                    <span v-html="'$' + s.earnings"></span>
                                </div>                             
                            </td>
                        </tr>                        
                    </tbody>
                    <tfoot v-if="pastAcceptedInvitations.length === 0">
                        <tr>
                            <td>No experiments attended.</td>
                        </tr>
                    </tfoot>                                    
                </table> 
                <br>
                <hr>
                <br>              
                <!-- invitation table -->
                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Full Invitation List</caption>

                    <thead>
                        <th width="30%" style="text-align: center;">
                            Date
                            <button id="showInvitations" type="button" class="btn btn-primary btn-sm" v-on:click ="showAllInvitations()">
                                <span v-html="showInvitationsText"></span>
                            </button>
                        </th>                                                      
                        <th width="35%" style="text-align: center;">
                            Status
                        </th>
                    </thead>
                    <tbody>                        
                        <tr v-for="(s,index) in allInvitations" v-bind:key="s.id">                            
                            <td  style="text-align: center;">                                                                
                                <span v-html="s.date"></span>
                                <div v-if="s.multiDay"><span v-html="'(Multi-day)'"></span></div>                                    
                            </td>
                            <td  style="text-align: center;">  
                                <div v-if="s.noShow" style="color: red;"><span v-html="'No Show'"></span></div> 
                                <div v-else-if="s.canceled" style="color: red;"><span v-html="'Canceled'"></span></div>  
                                <div v-else-if="s.bumped"><span v-html="'Bumped'"></span></div>
                                <div v-else-if="s.attended"><span v-html="'Attended'"></span></div>
                                <div v-else-if="s.confirmed"><span v-html="'Confirmed'"></span></div>                                                               
                            </td>
                        </tr>                        
                    </tbody>
                    <tfoot v-if="allInvitations.length === 0">
                        <tr>
                            <td><span v-html="noInvitationsFoundText"></span></td>
                        </tr>
                    </tfoot>                                    
                </table>
            </div>                    
        </div>                
    </div>
</div>

{%include "modals/consentModal.html"%}

{%endblock content%}
