<div class="card">                  
    <div class="card-header">
        Full Invitation List 

        <button id="showInvitations" 
                type="button" 
                class="btn btn-outline-primary btn-sm float-end" 
                v-on:click ="showAllInvitations()">
            <span v-html="showInvitationsText"></span>
        </button>                                                  
    </div>
    <div class="card-body">                 
        <!-- invitation table -->
        <table class="table table-hover table-condensed">
            <thead>
                <th width="30%" class="text-center">
                    Date
                    
                </th>                                                      
                <th width="35%" class="text-center">
                    Status
                </th>
            </thead>
            <tbody id="allInvitations">                        
                                      
            </tbody>
            <tfoot v-if="allInvitations.length === 0">
                <tr>
                    <td><span v-html="noInvitationsFoundText"></span></td>
                </tr>
            </tfoot>                                    
        </table>
    </div>                    
</div>