<div class="card" v-if="umbrellaConsents.length>0">                  
    <div class="card-header">
        Past Forms 

        <div class="float-end" v-show="waiting">
            <i class="fas fa-spinner fa-spin"></i>
        </div>                                                  
    </div>
    <div class="card-body">    
        <!-- past forms -->
        <table class="table table-hover table-condensed">
            
            <thead>                        
                <th width="50%" class="text-center">
                    Date
                </th>                                                      
                <th width="50%" class="text-center">
                    Title
                </th>
            </thead>
            <tbody>                        
                <tr v-for="(u,index) in umbrellaConsents" v-bind:key="u.id">                            
                    <td  class="text-center">                                                                
                        [[u.date_string]]                 
                    </td>
                    <td  class="text-center">     
                        <a v-bind:href="'/subjectConsent/'+u.umbrella_consent_form.id+'/policy/view/'" 
                           title="View Form">                           
                            [[u.umbrella_consent_form.display_name]]
                        </a>     
                    </td>
                </tr>                        
            </tbody>
                                                
        </table> 
    </div>                    
</div>