{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script>
        document.addEventListener("DOMContentLoaded", function(){  
            {%include "staff/calendar/calendar.js"%}
        });

    </script>

    <style>
        {%include "staff/calendar/calendar.css"%}                   
    </style>

    <style>
        [v-cloak] {
        display: none;
        }
    </style>
   
{%endblock head%}

{%block content%}
    {%include "staff/calendar/calendar.html"%}
    {%include "modals/calendarDayModal.html"%}
{%endblock content%}