{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    $(document).ready(function(){  
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                calendar:[],
                todayDay:"",
                todayMonth:"",
                currentMonth:"",
                currentYear:"",
                currentMonthString:"",
                locations:[],
                displayDay:{dayString:"",
                            sessionLocations:[],
                            },
                forwardButtonText:">>",
                backButtonText:"<<",
                            
            },

            methods:{
                //get current, last or next month
                getMonth:function(){
                    axios.post('/calendar/', {
                            action :"getMonth" , 
                                                       
                        })
                        .then(function (response) {     
                            app.updateMonth(response);  
                            app.$data.locations = response.data.locations;     
                            app.$data.todayDay = response.data.currentDay;
                            app.$data.todayMonth = response.data.currentMonth;                      
                        })
                        .catch(function (error) {
                            console.log(error);                            
                        });                        
                    },

                //get new month's data
                changeMonth:function(direction){
                    if(direction == "next")
                    {
                        app.$data.forwardButtonText='<i class="fas fa-spinner fa-spin"></i>';
                    }
                    else
                    {
                        app.$data.backButtonText='<i class="fas fa-spinner fa-spin"></i>';
                    }

                    axios.post('/calendar/', {
                            action :"changeMonth" , 
                            direction: direction,
                            currentMonth: app.$data.currentMonth,
                            currentYear: app.$data.currentYear,
                        })
                        .then(function (response) {     
                            app.updateMonth(response);

                            app.$data.backButtonText="<<";
                            app.$data.forwardButtonText=">>";
                        })
                        .catch(function (error) {
                            console.log(error);                            
                        });                        
                    },
                
                //show day modal
                showDayModal:function(weekIndex,dayIndex,dayString){
                   currentSessions = app.$data.calendar[weekIndex][dayIndex].sessions;

                   displayDayLocations=[];

                   for(i=0;i<app.$data.locations.length;i++)
                   {
                       l = app.$data.locations[i];
                       sessionList = [];

                       for(j=0;j<currentSessions.length;j++)
                        {
                            if(currentSessions[j].location.id == l.id)
                            {
                                sessionList.push(currentSessions[j]);
                            }
                        }

                        displayDayLocations.push({"location":l.name,
                                                 "sessions":sessionList,
                                              })
                   }

                   app.$data.displayDay.sessionLocations = displayDayLocations;
                   app.$data.displayDay.dayString = dayString;

                   $('#calendarDayModal').modal('toggle');

                },

                //update the current month's da
                updateMonth:function(response){
                        app.$data.currentMonth = response.data.currentMonth;
                        app.$data.currentYear = response.data.currentYear;       
                        app.$data.calendar = response.data.calendar;          
                        app.$data.currentMonthString = response.data.currentMonthString; 
                    },
            },            

            mounted: function(){
                    this.getMonth();                    
            },
        });
    });

    </script>

    <style>
        .cell:hover {
            background-color:rgb(248, 248, 248);        
        }
        .cell_content{
            margin-left: 5px;
            margin-right: 5px;
        }
        .cell_button{
            border-color: var(--primary);
            border: none;
            background-color:rgba(0, 0, 0, 0);
            font-weight: bold;
            font-size: 12px;
            border-radius: 50%;
            border-width: 1px;
            
        }
        .cell_button:hover, .cell_button_today:hover{                      
            
            background-color : var(--primary);
            color: white;
            border:1px solid black;
        }
        .cell_button_today{
            border-color: black;
            border-width: 1px;
            background-color:lightgoldenrodyellow;
            font-weight: bold;
            font-size: 12px;
            border-radius: 50%;
            color:black;
        }
        
        
    </style>
   
{%endblock head%}

{%block content%}

<!-- calander control -->
<div class="row mt-4 ml-4 mr-4 mb-2">
    <div class="col" style="text-align: left;">
        <span v-html = "currentMonthString"></span>
    </div>
    <div class="col" style="text-align: center;">
        <button class="btn btn-outline-primary btn-sm" type="button" v-on:click="changeMonth('previous')"><span v-html="backButtonText"></span></button>
        <button class="btn btn-outline-primary btn-sm" type="button" v-on:click="getMonth()">Current</button>
        <button class="btn btn-outline-primary btn-sm" type="button" v-on:click="changeMonth('next')"><span v-html="forwardButtonText"></span></button>  
    </div>
    <div class="col" style="text-align: right;">
        
    </div>
</div>
<!-- calendar header -->
<div class="row ml-4 mr-4 bg-light">
    <div class="col border rounded" style="text-align: center;">
        Sunday
    </div>
    <div class="col border rounded" style="text-align: center;">
        Monday
    </div>
    <div class="col border rounded" style="text-align: center;">
        Tuesday
    </div>
    <div class="col border rounded" style="text-align: center;">
        Wednesday
    </div>
    <div class="col border rounded" style="text-align: center;">
        Thursday
    </div>
    <div class="col border rounded" style="text-align: center;">
        Friday
    </div>
    <div class="col border rounded" style="text-align: center;">
        Saturday
    </div>    
</div>

<!-- calendar body -->
<div class="row ml-4 mr-4 no-gutters" v-for="(w,indexW) in calendar" v-bind:key="w.id">
    <div class="col border rounded no-gutters cell" v-for="(d,indexD) in w" v-bind:key="d.id">

        <!-- calendar cell -->
        <div class="row">
            
                <div class = "col cell_content" style="text-align: right;">
                    <div v-if="d.day === todayDay && d.month === todayMonth">
                        <button class="cell_button_today" v-on:click="showDayModal(indexW,indexD,d.dayString)">
                            [[d.day]]
                        </button>
                    </div>
                    <div v-else>
                        <button class="cell_button" v-on:click="showDayModal(indexW,indexD,d.dayString)">
                            [[d.day]]
                        </button>
                    </div>                                    
                </div>
              

        </div>

        <!-- content -->
        <div class="row" v-for="(s,index) in d.sessions" v-bind:key="s.id">
            <div class = "col cell_content" style="font-size: 13px;">
                <div v-if = "s.name===''">
                    <!-- spacer -->
                    <span>&nbsp</span>
                </div>
                <div v-else>                    
                    <span v-html = "s.startTime + '-' + s.endTime + ' <a href=\'/experimentSessionRun/' + s.id + '/\'' + '>' + s.name + '</a>'">
                    </span>
                </div>
            </div>
            
        <div class="row">      
    </div> 
</div>

{%include "modals/calendarDayModal.html"%}
{%endblock content%}