{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    $(document).ready(function(){  
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                calendar:[],
                currentMonth:"",
                currentYear:"",
            },

            methods:{
                //get current, last or next month
                getMonth:function(){
                    axios.post('/calendar/', {
                            action :"getMonth" , 
                                                       
                        })
                        .then(function (response) {     
                            app.$data.currentMonth = response.data.currentMonth;
                            app.$data.currentYear = response.data.currentYear;       
                            app.$data.calendar = response.data.calendar;                                       
                        })
                        .catch(function (error) {
                            console.log(error);
                            app.$data.searching=false;
                        });                        
                    },

                chageMonth:function(direction){
                    axios.post('/calendar/', {
                            action :"changeMonth" , 
                            direction: direction,
                            currentMonth: app.$data.currentMonth,
                            currentYear: app.$data.currentYear,
                        })
                        .then(function (response) {     
                            app.$data.currentMonth = response.data.currentMonth;
                            app.$data.currentYear = response.data.currentYear;   
                            app.$data.calendar = response.data.calendar;                                           
                        })
                        .catch(function (error) {
                            console.log(error);
                            app.$data.searching=false;
                        });                        
                    },
            },

            mounted: function(){
                    this.getMonth();                    
            },
        });
    });

    </script>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
    <div class="col col-lg-10">
        <div class="card">                  
            <div class="card-header">
               Calendar
                {%if user.is_superuser%}
                <span class="float-right">
                    <!-- buttons here -->
                </span>
                {%endif%}                                                 
            </div>
            <div class="card-body">               
             [[currentMonth]] [[currentYear]]
             <button class="btn btn-outline-primary btn-sm" type="button" v-on:click="chageMonth('previous')"><<</button>
             <button class="btn btn-outline-primary btn-sm" type="button" v-on:click="getMonth()">Today</button>
             <button class="btn btn-outline-primary btn-sm" type="button" v-on:click="chageMonth('next')">>></button>   
            </div>                    
        </div>                
    </div>
</div>    
{%endblock content%}