{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.4.0/browser/pixi.js" integrity="sha512-qTZFVoSlPLe/TRfxfdP6cH6bj/VPUq+fyuGzoA9V2MC1Xv1RO2dT/hRgL1iTPSO5H6cIGszOv51T9W+DFwHB1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        {%include "staff/consent_form_report/consent_form_report.js"%}
    });

    </script>
    <style>
        .table_header{
            font-weight:bold;
            font-size: 16px;
        }


        .signature {
            height: 50px;
            background-color: white; 
            width: 100%;
            max-width: 200px;
            border-style: none;
        }


        [v-cloak] {
            display: none;
            }
    </style>
{%endblock head%}

{%block content%}
<!-- open sessions -->
<div class="row justify-content-lg-center" v-cloak>
    <div class="col-10">
        {%include "staff/consent_form_report/consent_form_report_card.html"%}                 
    </div>
</div>  

{%endblock content%}