{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.0.5/pixi.min.js" integrity="sha512-FhiwPNSiyRev4UycnaQuDRTNlELu2ZpFQNDHwZ/yJMDMtddQ6fwQUuU2UfYBoOsu9JmLXxWbHrPNX1KKgfWmrg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        {%include "staff/consent_form_report/consent_form_report.js"%}
    });

    </script>
    <style>
        .table_header{
            font-weight:bold;
            font-size: 16px;
        }


        .signature {
            height: 50px;
            background-color: white; 
            width: 100%;
            max-width: 200px;
            border-style: none;
        }


        [v-cloak] {
            display: none;
            }
    </style>
{%endblock head%}

{%block content%}
<!-- open sessions -->
<div class="row justify-content-lg-center" v-cloak>
    <div class="col-10">
        {%include "staff/consent_form_report/consent_form_report_card.html"%}                 
    </div>
</div>  

{%endblock content%}