{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script>
    document.addEventListener("DOMContentLoaded", function(){
        {%include "staff/experiment_search/experiment_search.js"%}
    });

    </script>
    <style>
        .table_header{
            font-weight:bold;
            font-size: 16px;
        }
    </style>
{%endblock head%}

{%block content%}
<!-- experient search -->
<div class="row justify-content-lg-center">
    <div class="col">
        {%include "staff/experiment_search/experiment_search_card.html"%}                   
    </div>
</div>  

<!-- recent experiments -->
<div class="row justify-content-lg-center mt-4 mb-4">
    <div class="col">
        {%include "staff/experiment_search/experiment_search_recent_card.html"%}                    
    </div>
</div>   
{%endblock content%}