{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
    <script type="text/javascript">
    $(document).ready(function(){             
            
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                sessionDay:{
                    confirmedCount:"",
                    attendingCount:"",
                    bumpCount:"",
                    requiredCount:"",
                    experiment_session_days_user:[],    
                    defaultShowUpFee : "",      
                    complete:true,                
                    canceled:false,           
                },
                bumpButtonText : '<i class="fa fa-arrow-left" aria-hidden="true"></i> Bump',
                noShowButtonText : '<i class="fa fa-arrow-left" aria-hidden="true"></i> No Show',
                attendButtonText : '<i class="fa fa-arrow-left" aria-hidden="true"></i> Attend',
                waitButtonText : '<i class="fas fa-spinner fa-spin"></i>',
                dateText:'<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>',
                saveButtonText: 'Save Payouts <i class="far fa-save" aria-hidden="true"></i>',
                fillShowUpFeeButtonText : "Fill Bonus: $",
                completeSessionButtonText : 'Complete Session <i class="fas fa-check"></i>',
                openSessionButtonText : 'Re-Open Session <i class="fas fa-book-open"></i>',
                bumpAllButtonText : 'Bump All <i class="fas fa-user-slash"></i>',
                autoBumpButtonText : 'Auto Bump <i class="fa fa-random" aria-hidden="true"></i>',
                printPayoutsButtonText : 'Print Attendees <i class="fas fa-print"></i>',
                printBumpsButtonText : 'Print Bumps <i class="fas fa-print"></i>',
                paypalExportButtonText : 'Paypal Export <i class="fab fa-paypal"></i>',
                earningsExportButtonText : 'Attended Export <i class="fas fa-download"></i>',
                roundUpButtonText : 'Round Earnings <i class="fas fa-circle-notch"></i>',
                fillEarningsWithFixedButtonText : 'Fill',
                updatePayoutsRequired : false,             //need to send payouts update
                updatingPayoutsInProgress : false,         //currently sending a payouts update
                payoutTotal:"",                            //total paid to subjects
                fillEarningsWithValue:"",                   //amount to fill all earnings with
                isAdmin:{%if user.is_superuser%}true{%else%}false{%endif%},  
                stripeReaderSpinner:"",
                stripeReaderValue:"",
                stripeReaderStatus:"",
                autoAddUsers:false,                         //automatically add users if they are not checked in
                ignoreConstraints:false,                    //ignore recruitment constraints and add user
                upload_file: null,
                upload_file_name:'Choose File',
                uploadEarningsButtonText:'Upload <i class="fas fa-upload"></i>',
                uploadEarningsMessage:'',
            },

            methods:{
                //get the session day json info
                getSession:function(){
                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"getSession" ,                                                                                                                             
                        })
                        .then(function (response) {     
                            app.$data.sessionDay= response.data.sessionDay; 
                            app.calcPayoutTotal();      

                            app.$data.dateText = app.$data.sessionDay.date;      
                            app.$data.dateText += " | " + app.$data.sessionDay.length + " Minutes";
                            app.$data.dateText += " | " + app.$data.sessionDay.location.name;    
                            
                            app.$data.fillShowUpFeeButtonText += app.$data.sessionDay.defaultShowUpFee;

                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });                        
                    },

                //stripe reader checkin
                stripeReaderCheckin:function(){
                    window.setTimeout(this.stripeReaderCheckin, 250);
                    
                    if(app.$data.stripeReaderValue == "") return;
                    if(app.$data.stripeReaderSpinner != "") return;
                    if(!app.$data.stripeReaderValue.includes("=")) return;

                    app.$data.stripeReaderSpinner = '<i class="fas fa-spinner fa-spin"></i>';
                    app.$data.stripeReaderStatus="";

                    axios.post('/experimentSessionRun/{{id}}/', {
                             action :"stripeReaderCheckin" ,
                             value:app.$data.stripeReaderValue,    
                             autoAddUsers:app.$data.autoAddUsers,   
                             ignoreConstraints:app.$data.ignoreConstraints,                                                                                                                        
                         })
                         .then(function (response) {                                
                            app.$data.sessionDay = response.data.sessionDay;   
                            app.$data.stripeReaderSpinner = "";   
                            app.$data.stripeReaderValue = "";    
                            app.$data.stripeReaderStatus= response.data.status;           
                         })
                         .catch(function (error) {
                             console.log(error);                                   
                         });
                },

                //export a csv file for paypal mass payment
                payPalExport:function(){
                    if(app.$data.saveButtonText.indexOf("*") >= 0)
                    {   
                        confirm("Save payouts before continuing.") ;                    
                        return;                        
                    }
                    
                    app.$data.paypalExportButtonText = '<i class="fas fa-spinner fa-spin"></i>';
                   
                    axios.post('/experimentSessionRun/{{id}}/', {
                             action :"payPalExport" ,                                                                                                                                                      
                         })
                         .then(function (response) {      
                            
                            // let csvContent = "data:text/csv;charset=utf-8,";
                            // csvContent = response

                            console.log(response)

                            var downloadLink = document.createElement("a");
                            var blob = new Blob(["\ufeff", response.data]);
                            var url = URL.createObjectURL(blob);
                            downloadLink.href = url;
                            downloadLink.download = "PayPal_Mass_Pay_" + app.$data.sessionDay.id + ".csv";

                            document.body.appendChild(downloadLink);
                            downloadLink.click();
                            document.body.removeChild(downloadLink);

                            app.$data.paypalExportButtonText = 'Paypal Export <i class="fab fa-paypal"></i>';                  
                         })
                         .catch(function (error) {
                             console.log(error);                                   
                         });
                },

                //export an earnings csv file 
                earningsExport:function(){
                    if(app.$data.saveButtonText.indexOf("*") >= 0)
                    {   
                        confirm("Save payouts before continuing.") ;                    
                        return;                        
                    }
                    
                    app.$data.earningsExportButtonText = '<i class="fas fa-spinner fa-spin"></i>';
                   
                    axios.post('/experimentSessionRun/{{id}}/', {
                             action :"getEarningsExport" ,                                                                                                                                                      
                         })
                         .then(function (response) {      
                            
                            // let csvContent = "data:text/csv;charset=utf-8,";
                            // csvContent = response

                            console.log(response)

                            var downloadLink = document.createElement("a");
                            var blob = new Blob(["\ufeff", response.data]);
                            var url = URL.createObjectURL(blob);
                            downloadLink.href = url;
                            downloadLink.download = "Attending_Export_" + app.$data.sessionDay.id + ".csv";

                            document.body.appendChild(downloadLink);
                            downloadLink.click();
                            document.body.removeChild(downloadLink);

                            app.$data.earningsExportButtonText = 'Attended Export <i class="fas fa-download"></i>';                  
                         })
                         .catch(function (error) {
                             console.log(error);                                   
                         });
                },

                //randomly bump excess subjects
                autobump:function(){
                    app.$data.autoBumpButtonText = '<i class="fas fa-spinner fa-spin"></i>';
                    
                    // esdu.buttonText = '<i class="fas fa-spinner fa-spin"></i>'
                     axios.post('/experimentSessionRun/{{id}}/', {
                             action :"autoBump" ,   
                                                                                                                                                    
                         })
                         .then(function (response) {                                
                            app.$data.sessionDay = response.data.sessionDay;    

                            app.$data.autoBumpButtonText = 'Auto Bump <i class="fa fa-random" aria-hidden="true"></i>';                    
                         })
                         .catch(function (error) {
                             console.log(error);                                   
                         });                        
                },
                
                //set subject to attended
                attendSubject:function(esduID,id){
                    app.$data.sessionDay.experiment_session_days_user[id].waiting = true;
                    
                   // esdu.buttonText = '<i class="fas fa-spinner fa-spin"></i>'
                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"attendSubject" ,   
                            id:esduID, 
                            localId:id,                                                                                                                         
                        })
                        .then(function (response) {                                
                           app.$data.sessionDay = response.data.sessionDay;     
                           app.$data.stripeReaderStatus= response.data.status;                   
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });                        
                    },

                //set subject to bumped
                bumpSubject:function(esduID,id){
                    app.$data.sessionDay.experiment_session_days_user[id].waiting = true;

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"bumpSubject" ,   
                            id:esduID,                                                                                                            
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;  
                            app.$data.stripeReaderStatus= response.data.statusMessage;                                                               
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });                        
                    },
                
                //set subject to no show
                noShowSubject:function(esduID,id){
                    app.$data.sessionDay.experiment_session_days_user[id].waiting = true;
                    
                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"noShowSubject" , 
                            id:esduID,                                                                                                                            
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;    
                            app.$data.stripeReaderStatus = "";                                                                  
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });                        
                    },
                
                //save the current payouts
                savePayouts:function(){
                    app.$data.saveButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"savePayouts" ,  
                            payoutList : app.getPayoutlist(),                                                                                                                           
                        })
                        .then(function (response) {     
                            app.$data.sessionDay= response.data.sessionDay;      
                            app.$data.saveButtonText = 'Save Payouts <i class="far fa-save" aria-hidden="true"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //finsh session, prevents further editing
                completeSession:function(){

                    if(app.$data.saveButtonText.indexOf("*") >= 0)
                    {   
                        confirm("Save payouts before continuing.") ;                    
                        return;                        
                    }

                    app.$data.completeSessionButtonText = '<i class="fas fa-spinner fa-spin"></i>';
                    app.$data.openSessionButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"completeSession" ,                                                                                                                             
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;     
                            
                            app.$data.completeSessionButtonText = 'Complete Session <i class="fas fa-check"></i>';
                            app.$data.openSessionButtonText = 'Re-Open Session <i class="fas fa-book-open"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //calc payout total of visible subjects
                calcPayoutTotal:function(){
                            var s = 0;

                            for(i=0;i<app.$data.sessionDay.experiment_session_days_user.length;i++)
                            {
                                u = app.$data.sessionDay.experiment_session_days_user[i];

                                if(u.show)
                                {
                                    s += parseFloat(u.payout);                              
                                }
                            }

                            app.$data.payoutTotal = s.toFixed(2);
                        },

                //fill subjects with default show up fee from experiments model
                fillWithDefaultShowUpFee:function(){
                    app.$data.fillShowUpFeeButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"fillDefaultShowUpFee" ,                                                                                                                             
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;    

                            app.$data.fillShowUpFeeButtonText = "Fill Bonus: $" + app.$data.sessionDay.defaultShowUpFee;                            
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //fill subjects with default show up fee from experiments model
                fillEarningsWithFixed:function(){

                    if(app.$data.fillEarningsWithValue=="") return;

                    app.$data.fillEarningsWithFixedButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"fillEarningsWithFixed" ,
                            amount: app.$data.fillEarningsWithValue,                                                                                                                             
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;    
                            app.$data.fillEarningsWithFixedButtonText = "Fill";
                            app.$data.fillEarningsWithValue="";                            
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //run when key pressed in payouts box
                payoutsKeyUp:function(userId,localId){
                    app.$data.saveButtonText = 'Save Payouts <i class="far fa-save" aria-hidden="true"></i> *';
                },

                //when user changes the payouts, auto save
                payoutsChange:function(userId,localId){
                   app.$data.saveButtonText = 'Save Payouts <i class="far fa-save" aria-hidden="true"></i> *';
                   
                   if(app.$data.updatingPayoutsInProgress)
                   {
                       app.$data.updatePayoutsRequired = true;
                       return;
                   }
                   else
                   {
                      app.$data.updatePayoutsRequired = false;
                      app.$data.updatingPayoutsInProgress = true;
                   }                  
                   
                   axios.post('/experimentSessionRun/{{id}}/', {
                            action :"backgroundSave", 
                            payoutList : app.getPayoutlist(),                                                                                                                    
                        })
                        .then(function (response) {     
                            status = response.data.status;    

                            if(status == "success")
                            {
                                app.$data.updatingPayoutsInProgress = false;
                            }
                            else
                            {

                            }

                            if(app.$data.updatePayoutsRequired){
                                app.payoutsChange(userId,localId);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },   

                //return a list of the payouts entered by the user
                getPayoutlist:function(){
                    payoutList=[];

                    for(var i=0;i<app.$data.sessionDay.experiment_session_days_user.length;i++)
                    {
                        tempU = app.$data.sessionDay.experiment_session_days_user[i];
                        tempV = {"id":tempU.id,
                                "earnings":tempU.earnings,
                                "showUpFee":tempU.show_up_fee,
                                }
                        payoutList.push(tempV);
                    }

                    return payoutList;
                },             

                //bump all present users
                bumpAll:function(){
                    app.$data.bumpAllButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"bumpAll"                                                                                                                            
                        })
                        .then(function (response) {     
                            app.$data.sessionDay= response.data.sessionDay;      
                            app.$data.bumpAllButtonText = 'Bump All <i class="fas fa-user-slash"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //print payouts
                printPayouts:function(){
                    if(app.$data.saveButtonText.indexOf("*") >= 0)
                    {   
                        confirm("Save payouts before continuing.") ;                    
                        return;                        
                    }

                    window.open('/experimentSessionPayouts/' + app.$data.sessionDay.id +'/payouts/', '_blank');
                },

                //print bumps
                printBumps:function(){
                    if(app.$data.saveButtonText.indexOf("*") >= 0)
                    {  
                        confirm("Save payouts before continuing.") ;                      
                        return;                        
                    }

                    window.open('/experimentSessionPayouts/' + app.$data.sessionDay.id +'/bumps/', '_blank');
                },

                //upload earings file csv
                uploadEarnings:function(){

                    if(app.$data.upload_file == null)
                        return;

                    app.$data.uploadEarningsMessage = "";
                    app.$data.uploadEarningsButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    let formData = new FormData();
                    formData.append('file', app.$data.upload_file);

                    axios.post('/experimentSessionRun/{{id}}/', formData,
                            {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                    }
                                } 
                            )
                            .then(function (response) {     

                                app.$data.uploadEarningsMessage = response.data.message;

                                app.$data.uploadEarningsButtonText= 'Upload <i class="fas fa-upload"></i>';
                                app.$data.sessionDay = response.data.sessionDay; 

                                                                                
                            })
                            .catch(function (error) {
                                console.log(error);
                                app.$data.searching=false;
                            });                        
                        },

                //store the location of the file to be uploaded
                handleFileUpload:function(){
                    app.$data.upload_file = this.$refs.file.files[0];
                    //$('parameterFileUpload').val("");
                    app.$data.upload_file_name = app.$data.upload_file.name;

                },

                //fire when show upload earnings
                showUploadEarnings:function(){
                    app.$data.uploadEarningsMessage = "";
                    $('#uploadEarningsModal').modal('show');
                },

                hideUploadEarnings:function(){
                },
                
                //fill subjects with default show up fee from experiments model
                roundEarningsUp:function(){

                    app.$data.roundUpButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"roundEarningsUp",                                                                                                                           
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;    
                            app.$data.roundUpButtonText = 'Round Earnings <i class="fas fa-circle-notch"></i>';                         
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //format date to human readable
                formatDate: function(value){
                    if (value) {        
                        //console.log(value);                    
                        return moment(String(value)).local().format('MM/DD/YYYY hh:mm a');
                    }
                    else{
                        return "date format error";
                    }
                },
            },

            mounted: function(){
                    this.getSession();       
                    window.setTimeout(this.stripeReaderCheckin, 250);      
                    $('#hideUploadEarnings').on("hidden.bs.modal", this.hideEditSubject);       
            },
        });

    });
    </script>
{%endblock head%}

{%block content%}
<div class="row justify-content-xl-center">
    <div class="col col-lg-10">
        <div class="card">                  
            <div class="card-header">
              Run Session Day : <a href="{% url 'experimentView' sessionDay.experiment_session.experiment.id %}">{{sessionDay.experiment_session.experiment}}</a> | 
                                <a href="{% url 'experimentSessionView' sessionDay.experiment_session.id %}">Session Info</a> |
                                <span v-html="dateText"></span>
            </div>
            <div class="card-body">  
                <!-- stripe reader -->
                <div v-if='sessionDay.complete === false'>
                    <div class="row align-items-left">
                        <div class = "col-md-4" style="text-align: right;">
                            
                            <div class="form-check" v-if='isAdmin'>
                                <input type="checkbox" class="form-check-input" id="autoAdd" v-model='autoAddUsers'>
                                <label class="form-check-label" for="autoAdd" title="Add user to session after card swipe.">Automatically add subjects</label>
                            </div>
                            <div class="form-check" v-if='isAdmin'>
                                <input type="checkbox" class="form-check-input" id="ignoreConstraints" v-model='ignoreConstraints'>
                                <label class="form-check-label" for="ignoreConstraints" title="Force-add user to session even if not eligible.">Ignore recruitment constraints</label>
                            </div>
                            
                        </div>
                        <div class = "col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text">Stripe Reader</span>
                                </div>
                                <input type="password" placeholder="Cursor Here" class="form-control" aria-label="Stripe Reader" v-model="stripeReaderValue" title="Put the mouse cursor here and swipe the subject's id card to check-in.">
                                <div class="input-group-append">
                                <span class="input-group-text"><span v-html="stripeReaderSpinner"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class = "col" style="text-align: left;padding-top: 10px;">
                            <span v-html="stripeReaderStatus"></span>
                        </div>                    
                    </div>  
                </div>      

                <!-- subject table     -->
                <div class="row">
                    <div class = "col">
                        <table class="table table-hover table-condensed">
                            <caption style="caption-side: top;" class="caption text-center">Subjects Confirmed: [[sessionDay.confirmedCount]] | 
                                                                                            Attending: [[sessionDay.attendingCount]] | 
                                                                                            Needed: [[sessionDay.requiredCount]] | 
                                                                                            Bumped: [[sessionDay.bumpCount]]
                            </caption>
                            <thead>
                                <th width="25%">
                                    Name 
                                </th>
                                <th width="15%">
                                    ID Number 
                                </th>
                                <th width=15%  style="text-align: center;">  
                                    Earnings ($)
                                </th> 
                                <th width=15%  style="text-align: center;">  
                                    On-Time<br>Bonus ($)
                                </th>   
                                <th width=15%  style="text-align: center;">  
                                    Status
                                </th>                                                                             
                                <th width="15%" style="text-align: center;">
                                    Control
                                </th>
                            </thead>
                            <tbody>
                                <tr v-for="(esdu,index) in sessionDay.experiment_session_days_user" v-bind:key="esdu.id">                                
                                    <td class="align-middle">
                                        <span v-html="index+1"></span>) 
                                        <a  v-bind:href='"/userInfo/" + esdu.user.id' target="_blank">
                                            <span v-html="esdu.user.last_name"></span>, <span v-html="esdu.user.first_name"></span>
                                        </a>                                    
                                    </td>
                                    <td  class="align-middle">                                       
                                        <span v-html="esdu.user.studentID"></span>                                    
                                    </td> 
                                    <td class="align-middle" style="text-align: center;">
                                        <div v-if='esdu.attended'>
                                            <div v-if='sessionDay.complete'>
                                                $<span v-html="esdu.earnings"></span>
                                            </div>
                                            <div v-else>
                                                <input type="number" class="form-control" style="text-align: center;" v-model="esdu.earnings"
                                                    v-on:change="payoutsChange(esdu.id,index)" v-on:keyup= "payoutsKeyUp(esdu.id,index)" title="Enter experiment earnings here.">
                                            </div>
                                        </div>                                                                                                                  
                                    </td>                                    
                                    <td class="align-middle" style="text-align: center;">
                                        <div v-if='esdu.attended || esdu.bumped'>
                                            <div v-if='sessionDay.complete'>
                                                $<span v-html="esdu.show_up_fee"></span>
                                            </div>
                                            <div v-else>
                                                <input type="number" class="form-control" style="text-align: center;" v-model="esdu.show_up_fee"
                                                   v-on:change="payoutsChange(esdu.id,index)" v-on:keyup= "payoutsKeyUp(esdu.id,index)" title="Enter on-time bonus here.">
                                            </div>                                           
                                        </div>                                        
                                    </td>
                                    <td class="align-middle" style="text-align: center;">                                       
                                        <div v-if="esdu.attended">Attended</div>
                                        <div v-else-if="esdu.bumped">Bumped</div>
                                        <div v-else-if="sessionDay.canceled">Canceled</div>
                                        <div v-else>No Show</div>                                                                           
                                    </td>
                                    <td class="align-middle" style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>  
                                            <div v-if = "esdu.waiting">
                                                <span v-html='waitButtonText'></span>
                                            </div>
                                            <div v-else-if="esdu.attended">
                                                <button v-bind:id="'bumpSubject' + esdu.id" type="button" class="btn btn-outline-primary btn-sm"
                                                        v-on:click = "bumpSubject(esdu.id,index)" title="Change subject's status to 'Bumped'.">
                                                    <span v-html='bumpButtonText'></span>
                                                </button>
                                                <div v-if='esdu.user.bumpedFromLast' v-html='"(Bumped last session)"' style="font-size: 14px;"></div> 
                                            </div>
                                            <div v-else-if="esdu.bumped">
                                                <button v-bind:id="'nowSubject' + esdu.id" type="button" class="btn btn-outline-primary btn-sm"
                                                        v-on:click = "noShowSubject(esdu.id,index)" title="Change subject's status to 'No Show'.">
                                                    <span v-html='noShowButtonText'></span>
                                                </button>
                                                <div v-if='esdu.user.bumpedFromLast' v-html='"(Bumped last session)"' style="font-size: 14px;"></div>
                                            </div>
                                            <div v-else-if="isAdmin">
                                                <button v-bind:id="'attendSubject' + esdu.id" type="button" class="btn btn-outline-primary btn-sm"
                                                        v-on:click = "attendSubject(esdu.id,index)" title="Change subject's status to 'Attended'.">
                                                    <span v-html='attendButtonText'></span>
                                                </button>
                                            </div>
                                        </div>                                                                               
                                    </td>                                
                                </tr>
                            </tbody>                                                                      
                            <tfoot>
                                <!-- first button row -->
                                <tr>
                                    <td>
                                        Payout Total: $[[payoutTotal]]                                      
                                    </td>
                                    <td>
                                        <div v-if='sessionDay.complete === false'>
                                            <button type="button" class="btn btn-outline-primary btn-sm" v-on:click = "savePayouts()"
                                                    title="Save payouts to the database.">
                                                <span v-html='saveButtonText'></span> 
                                            </button>
                                        </div>                                        
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>
                                            <div class="input-group input-group-sm">
                                                <input type="number" class="form-control" placeholder="All Earnings" aria-label="Earnings fill"
                                                       aria-describedby="basic-addon2" v-model="fillEarningsWithValue" title="Fill all attending subject's earnings with the specified amount.">
                                                <div class="input-group-append">
                                                  <button class="btn btn-outline-primary btn-sm" type="button" v-on:click = "fillEarningsWithFixed()">
                                                      <span v-html="fillEarningsWithFixedButtonText"></span>
                                                  </button>
                                                </div>
                                              </div>
                                        </div>                                                                            
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>
                                            <button type="button" class="btn btn-outline-primary btn-sm" v-on:click = "fillWithDefaultShowUpFee()"
                                                    title="Fill all present subject's on-time bonuses with the specified amount." >
                                                <span v-html='fillShowUpFeeButtonText'></span> 
                                            </button>
                                        </div>                                                                                
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>
                                            <button type="button" class="btn btn-outline-primary btn-sm" v-on:click = "autobump()"
                                                    title = "Randomly bump extra subjects.">
                                                <span v-html='autoBumpButtonText'></span> 
                                            </button>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>
                                            <button type="button" class="btn btn-outline-primary btn-sm" v-on:click = "bumpAll()"
                                                    title = "Bump all subjects.">
                                                <span v-html='bumpAllButtonText'></span> 
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                
                                <!-- second button row -->
                                <tr>
                                    <td> 
                                        <button type="button" class="btn btn-outline-primary btn-sm" v-on:click = "completeSession()">
                                            <div v-if="sessionDay.complete">
                                                <span v-html='openSessionButtonText'></span>
                                            </div>
                                            <div v-else>
                                                <span v-html='completeSessionButtonText'></span>
                                            </div>                                            
                                        </button>                                     
                                    </td>
                                    <td>     
                                        <button type="button" class="btn btn-outline-primary btn-sm" v-on:click="showUploadEarnings()"
                                                title ="Upload an earnings formatted file.">
                                            Upload Earnings <i class="fas fa-upload"></i>
                                        </button>
                                    </td>
                                    <td style="text-align: center;">                                        
                                        <button type="button" class="btn btn-link btn-sm" v-on:click="printPayouts()">
                                            <span v-html='printPayoutsButtonText'></span> 
                                        </button>                                                                               
                                    </td>
                                    <td style="text-align: center;">
                                        <button type="button" class="btn btn-link btn-sm" v-on:click = "printBumps()">
                                            <span v-html='printBumpsButtonText'></span> 
                                        </button>                                        
                                    </td>
                                    <td style="text-align: center;">
                                        <button type="button" class="btn btn-outline-primary btn-sm" v-on:click = "roundEarningsUp()"
                                                title="Round earnings up to nearest 25 cents."  >
                                            <span v-html='roundUpButtonText'></span> 
                                        </button>                                       
                                    </td>
                                    <td style="text-align: center;">   
                                        <button type="button" class="btn btn-outline-primary btn-sm" v-on:click = "payPalExport()"
                                                title="Export a PayPal mass payment file."  >
                                            <span v-html='paypalExportButtonText'></span> 
                                        </button>                                     
                                    </td>
                                </tr>                               
                                
                                <!-- third button row -->
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td style="text-align: center;">
                                    </td>
                                    <td style="text-align: center;">
                                    </td>
                                    <td style="text-align: center;">
                                    </td>
                                    <td style="text-align: center;">
                                        <button type="button" class="btn btn-outline-primary btn-sm" v-on:click = "earningsExport()"
                                                title="Export a CSV file with a list of attending subjects."  >
                                            <span v-html='earningsExportButtonText'></span> 
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                
                
            </div>                    
        </div>                
    </div>
</div>    

{%include "modals/uploadEarningsModal.html"%}

{%endblock content%}