{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

<script>            

    document.addEventListener("DOMContentLoaded", function(){  
        {%include "staff/experiment_session/experiment_session.js"%}
    }); 
</script>   

<style>
    [v-cloak] {
    display: none;
    }

    div.scrollable {           
        height: 300px;
        overflow: auto;
    }

</style>

{%endblock head%}

{%block content%}    

<div class="row justify-content-xl-center" v-cloak v-if="session">
    <div class="col col-md-12">
        {%include "staff/experiment_session/experiment_session_card.html"%}
    </div>
</div>
<div class="row justify-content-xl-center mt-4" v-cloak v-if="session">
    <div class="col col-md-12">
        {%include "staff/experiment_session/invitations_card.html"%}
    </div>
</div>
<div class="row justify-content-xl-center mt-4" v-cloak v-if="session">
    <div class="col col-md-12">
        {%include "staff/experiment_session/messages_card.html"%}
    </div>
</div>

<div class="row justify-content-lg-center mt-4" v-cloak v-else>
    <div class = "col mt-4 text-center">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>

<div v-if="session">
{%include "staff/experiment_session/manually_add_subject_modal.html"%}
{%include "staff/experiment_session/cancel_session_modal.html"%}
{%include "modals/sendMessageModal.html"%}
{%include "modals/invitationModal.html"%}
{%include "modals/editInvitationTextModal.html"%}

{%include "modals/editTraitsModal.html"%}
{%include "modals/updateTraitModal.html"%}
{%include "modals/sessionDayModal.html"%}
{%include "modals/viewSubjectsModal.html"%}

{%include "modals/sessionModal.html"%}
{%include "modals/editAllowListModal.html"%}

</div>

{%endblock content%}
