{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
    <script type="text/javascript">
    $(document).ready(function(){             
        {%include "staff/experiment_session_run/experiment_session_run.js"%}
    });
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
{%endblock head%}

{%block content%}
<div class="row justify-content-xl-center mb-4" v-cloak>
    <div class="col col-lg-12">
        {%include "staff/experiment_session_run/experiment_session_run.html"%}               
    </div>
</div>    

{%include "modals/uploadEarningsModal.html"%}
{%include "modals/noticeModal.html"%}

{%endblock content%}