
{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">       

        $(document).ready(function(){   
            
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";

            var app = new Vue({
        
                delimiters: ['[[', ']]'],
                el: '#root',        
                data:{           
                    experimentURL:'',   
                    loading: true,   
                    message: null,              
                    experiment:{institution:[],                                               
                                account_default_full:{str:""},
                                title:'',
                                invitationText:'',
                                school_full:{name:""},
                                department_default_full:{name:""}
                        },
                    recruitmentParams:{
                            gender:[],
                            actual_participants:0,
                            registration_cutoff:0,
                            experience_min:0,
                            experience_max:1000,
                            experience_constraint:false,
                            institutions_exclude_all:0,
                            institutions_include_all:0,
                            experiments_exclude_all:0,
                            experiments_include_all:0,
                            allow_multiple_participations:false,
                            institutions_exclude:[],
                            institutions_include:[],
                            experiments_exclude:[],
                            experiments_include:[],
                        },                    
                    sessions:{},  
                    parameters:{},                          
                    institutions_list:"",
                    include_institutions_list:"",
                    exclude_institutions_list:"",
                    include_experiments_list:"",
                    exclude_experiments_list:"",
                    include_schools_list:"",
                    exclude_schools_list:"", 
                    subject_type_list:"",
                    genders_list:"",              
                    buttonText1:"Update",
                    buttonText2:"Update",     
                    errorsText:"",
                    cancelModal:true,    
                    recruitmentTitle:"Recruitment Parameters (default)",
                },
        
                methods:{            

                    clearMainFormErrors:function(){
                        for(var item in app.$data.experiment)
                        {
                            $("#id_" + item).attr("class","form-control");
                            $("#id_errors_" + item).remove();
                        }

                        for(var item in app.$data.recruitmentParams)
                        {
                            $("#id_" + item).attr("class","form-control");
                            $("#id_errors_" + item).remove();
                        }
                    },

                    //update recruitment display lists
                    updateDisplayLists:function(errors){
                        var e = app.$data.recruitmentParams;

                        app.$data.institutions_list=app.updateDisplayLists2(app.$data.experiment.institution_full);
                        app.$data.include_institutions_list=app.updateDisplayLists2(e.institutions_include_full);
                        app.$data.exclude_institutions_list=app.updateDisplayLists2(e.institutions_exclude_full);
                        app.$data.include_experiments_list=app.updateDisplayLists2(e.experiments_include_full);
                        app.$data.exclude_experiments_list=app.updateDisplayLists2(e.experiments_exclude_full);
                        app.$data.include_schools_list=app.updateDisplayLists2(e.schools_include_full);
                        app.$data.exclude_schools_list=app.updateDisplayLists2(e.schools_exclude_full);
                        app.$data.genders_list=app.updateDisplayLists2(e.gender_full);
                        app.$data.subject_type_list=app.updateDisplayLists2(e.subject_type_full);
                        app.$data.experiment.showUpFee =  parseFloat(app.$data.experiment.showUpFee).toFixed(2); 
                    },

                    //update recruitment display lists
                    updateDisplayLists2:function(list){
                        str="";

                        for(var i=0;i<list.length;i++)
                        {
                            if(i>=1) str += " | ";
                            str += list[i].name;
                        }

                        return str;
                    },

                    //get experiment info from server
                    getExperiment: function(){
                        axios.post('/experiment/{{id}}/', {
                                status:"get",                                                              
                            })
                            .then(function (response) {                                   
                                // app.$data.institutions= response.data.institutions; 
                                app.$data.experiment =  response.data.experiment;     
                                app.$data.sessions = response.data.sessions.experiment_sessions;      
                                app.$data.parameters = response.data.parameters;  
                                app.$data.recruitmentParams = response.data.recruitmentParams;                                        
                                app.$data.loading=false; 
                                app.updateDisplayLists();
                            })
                            .catch(function (error) {
                                console.log(error);
                                //app.$data.searching=false;                                                              
                            });                        
                    },

                    //display form errors
                    displayErrors:function(errors){
                        for(var e in errors)
                        {
                            $("#id_" + e).attr("class","form-control is-invalid")
                            var str='<span id=id_errors_'+ e +' class="text-danger">';
                            
                            for(var i in errors[e])
                            {
                                str +=errors[e][i] + '<br>';
                            }

                            str+='</span>';
                            $("#div_id_" + e).append(str);    
                        }
                    },                   

                    //update experiment parameters
                    updateExperiment1: function(){

                        app.$data.cancelModal=false;  

                        axios.post('/experiment/{{id}}/', {
                                status :"update1" ,                                
                                formData : $("#mainForm1").serializeArray(),                                                              
                            })
                            .then(function (response) {     
                                                               
                                status=response.data.status;                               

                                app.clearMainFormErrors();

                                if(status=="success")
                                {                                 
                                    app.$data.experiment =  response.data.experiment;  
                                    app.updateDisplayLists();
                                    $('#setupModalCenter').modal('toggle');
                                }
                                else
                                {      
                                    app.$data.cancelModal=true;                          
                                    app.displayErrors(response.data.errors);
                                }          

                                app.$data.buttonText1="Update"                      
                            })
                            .catch(function (error) {
                                console.log(error);
                                app.$data.searching=false;
                            });                        
                    },

                    //update recruitment parameters
                    updateRecruitmentParameters: function(){   

                        app.$data.cancelModal=false;

                        axios.post('/experiment/{{id}}/', {
                                status :"updateRecruitmentParameters" ,                                
                                formData : $("#updateRecruitmentParametersForm").serializeArray(),                                                              
                            })
                            .then(function (response) {                                   
                                status=response.data.status;                               

                                app.clearMainFormErrors();

                                if(status=="success")
                                {                           
                                    app.$data.recruitmentParams = response.data.recruitmentParams;  
                                    app.updateDisplayLists();      
                                    $('#recruitmentModalCenter').modal('toggle');
                                }
                                else
                                {     
                                    app.$data.cancelModal=true;                           
                                    app.displayErrors(response.data.errors);
                                }          

                                app.$data.buttonText2="Update"                      
                            })
                            .catch(function (error) {
                                console.log(error);
                                app.$data.searching=false;
                            });                        
                    },

                    //add new session to experiment
                    addSession: function(){
                        axios.post('/experiment/{{id}}/', {
                                status :"add" ,                                                                                                                              
                            })
                            .then(function (response) {                                   
                                //redirect to new session     

                                window.location.href = response.data.url;            
                            })
                            .catch(function (error) {
                                console.log(error);
                                app.$data.searching=false;
                            });
                    },

                    //remove session from experiment
                    removeSession: function(sid){
                        if(confirm("Delete session?")){
                            axios.post('/experiment/{{id}}/', {
                                    status : "remove" ,
                                    sid : sid,                                                                                                                              
                                })
                                .then(function (response) {                                   
                                    
                                    app.$data.sessions = response.data.sessions.experiment_sessions;            
                                })
                                .catch(function (error) {
                                    console.log(error);
                                    app.$data.searching=false;
                                });
                        }
                    },

                    //format date to human readable
                    formatDate: function(value){
                        if (value) {
                            //return value;
                            //console.log(value);
                            return moment(String(value)).local().format('M/D/YYYY, h:mm a');
                        }
                        else{
                            return "date format error";
                        }
                    },

                    //check if date is today
                    checkToday: function(value1){
                        if(moment(value1).format("YYYY/MM/DD")== moment().format("YYYY/MM/DD"))
                        {
                            return true;
                        }
                        else
                        {
                            return false;
                        }
                        
                    },

                    //put * notification on update button on change
                    mainFormChange1:function(){
                        app.$data.buttonText1="Update *";
                    },

                    //put * notification on update button on change of recruitment form
                    recruitmentFormChange:function(){
                        app.$data.buttonText2="Update *";
                    },                   

                    // fire when edit experiment model is shown, save copy for cancel
                    showEditExperiment:function(){
                        app.$data.cancelModal=true;
                        app.$data.experimentBeforeEdit = Object.assign({}, app.$data.experiment);
                        $('#setupModalCenter').modal('show');
                        app.clearMainFormErrors();
                    },

                    //fire when edit experiment model hides, cancel action if nessicary
                    hideEditExperiment:function(){
                        if(app.$data.cancelModal)
                        {
                            Object.assign(app.$data.experiment, app.$data.experimentBeforeEdit);
                            app.$data.experimentBeforeEdit=null;
                        }
                    },

                    // fire when edit experiment model is shown, save copy for cancel
                    showEditRecruitment:function(){
                        app.$data.cancelModal=true;
                        app.$data.recruitmentParamsBeforeEdit = Object.assign({}, app.$data.recruitmentParams);
                        $('#recruitmentModalCenter').modal('show');
                        app.clearMainFormErrors();
                    },

                    //fire when edit experiment model hides, cancel action if nessicary
                    hideEditRecruitment:function(){
                        if(app.$data.cancelModal)
                        {
                            Object.assign(app.$data.recruitmentParams, app.$data.recruitmentParamsBeforeEdit);
                            app.$data.experiment.experimentBeforeEdit=null;
                        }
                    },

                    //fire when the edit session button is pressed
                    editSession:function(id)
                    {
                        window.open('/experimentSession/' + id,"_blank");
                    },

                    //fill parameters with default single day
                    fillWithSingleDayInvitation:function(){
                       app.$data.experiment.invitationText = app.$data.parameters.invitationText;
                    },

                    //fill parameters with default single day
                    fillWithMultiDayInvitation:function(){
                        app.$data.experiment.invitationText = app.$data.parameters.invitationTextMultiDay;
                    },
                },
        
                mounted: function(){
                    this.getExperiment();
                    $('#setupModalCenter').on("hidden.bs.modal", this.hideEditExperiment);
                    $('#recruitmentModalCenter').on("hidden.bs.modal", this.hideEditRecruitment);
                },                 
        
            });
        });
        
    </script>
{%endblock head%}

{%block content%}    

<div class="row justify-content-md-center">
    <div class="col col-md-10">
        <div class="card">
            <div class="card-header">
                Experiment: <span v-if="loading"><i class="fas fa-spinner fa-spin"></i></span><span v-html="experiment.title"></span>
            </div>
      
            <div class="card-body">
                <!-- Experiment parameters                -->
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        <!-- <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="modal" data-target="#setupModalCenter"><i class="fas fa-pen fa-xs"></i></button> <u>Experiment Parameters</u>  -->                      
                        <u>Experiment Parameters</u>
                    </div>
                    <div class="col col-md-8">
                       
                    </div>               
                </div>
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        {{form1.title.label}}:
                    </div>
                    <div class="col col-md-8">
                        <span v-html="experiment.title"></span>
                    </div>               
                </div>  
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        {{form1.experiment_manager.label}}:
                    </div>
                    <div class="col col-md-8">
                        <span v-html="experiment.experiment_manager"></span>
                    </div>               
                </div>                                
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        {{form1.length_default.label}}:
                    </div>
                    <div class="col col-md-8">
                        <span v-html="experiment.length_default"></span>
                    </div>               
                </div> 
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        {{form1.school.label}}:
                    </div>
                    <div class="col col-md-8">
                        <span v-html="experiment.school_full.name"></span>
                    </div>               
                </div>
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        {{form1.account_default.label}}:
                    </div>
                    <div class="col col-md-8">
                        <span v-html="experiment.account_default_full.str"></span>
                    </div>               
                </div>
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        {{form1.showUpFee.label}}:
                    </div>
                    <div class="col col-md-8">
                        $<span v-html="experiment.showUpFee"></span>
                    </div>               
                </div>
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        Institution(s):
                    </div>
                    <div class="col col-md-8">
                        <span v-html="institutions_list"></span>
                    </div>               
                </div>
                <div class = "row">
                    <div class="col col-md-4 text-right">
                        {{form1.notes.label}}:
                    </div>
                    <div class="col col-md-8">                        
                        <textarea class="form-control" rows="5" v-model="experiment.notes" readonly="true"></textarea>
                    </div>               
                </div>
                <div class = "row row mt-2">
                    <div class="col col-md-4 text-right">
                        {{form1.invitationText.label}}:
                    </div>
                    <div class="col col-md-8">                        
                        <textarea class="form-control" rows="5" v-model="experiment.invitationText" readonly="true"></textarea>
                    </div>               
                </div>
                <div class = "row mt-2">
                    <div class="col col-md-4 text-right">
                            
                    </div>
                    <div class="col col-md-8">                        
                        <button class="btn btn-outline-primary btn-sm" type="button" v-on:click = "showEditExperiment()">Edit <i class="fas fa-pen fa-xs"></i></button>
                    </div>               
                </div>                
                <!-- end experiment parameters -->

                <br>
                <br>

                {%include "snippits/recruitmentParametersTable.html"%}

                <br>
                <br>
                <!-- session table -->
                <div class="row">                   
                    <div class="col col-md-10 offset-md-1">
                        <table class="table table-hover table-condensed">
                            <caption style="caption-side:top;text-align: center;">Sessions</caption>
                            <thead>
                                <th width="25%">
                                    Day(s) <button class="btn btn-outline-success btn-sm" type="button" v-on:click = "addSession()">Add <i class="fas fa-plus fa-xs"></i></button> 
                                </th>
                                <th width="25%" style="text-align: center;">
                                    Status
                                </th> 
                                <th width="25%" style="text-align: center;">
                                   Confirmed/Invited
                                </th>                                                      
                                <th width="25%" style="text-align: center;">
                                    Control
                                </th>
                            </thead>
                            <tbody id="sessionList">                       
                                <tr v-for="(s,index) in sessions" v-bind:key="s.id">                                                                          
                                    <td>
                                        <span v-for="(d,index) in s.experiment_session_days">
                                            <div>
                                                <span v-html="formatDate(d.date)"></span>  
                                                <span v-if="checkToday(d.date)"> (Today)</span>
                                            </div>                                                                                                                                                                             
                                        </span>
                                    </td>
                                    <td>
                                        <div v-if="s.complete">
                                            Complete
                                        </div>
                                        <div v-else>
                                            Open
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <span v-for="(d,index) in s.experiment_session_days">
                                            <!-- <span v-if="index>0"> | </span>                                             -->
                                            <div v-html="d.confirmedCount+ '/' + d.totalCount"></div>  
                                                                                                                                                                             
                                        </span>                                        
                                    </td>                               
                                    <td style="text-align: center;">                                        
                                            <div>    
                                                <button class="btn btn-link btn-sm" type="button" v-on:click = "editSession(s.id)">Edit <i class="fas fa-edit fa-xs"></i></button>
                                                 | <button class="btn btn-outline-danger btn-sm" type="button" v-on:click = "removeSession(s.id)" v-bind:disabled="s.allow_delete === false">Delete <i class="fas fa-trash fa-xs"></i></button>
                                                                             
                                            </div>                                                                                                                                         
                                        </span>
                                    </td>                            
                                </tr>                        
                            </tbody>
                        </table>
                    </div>
                </div>             

            </div>      
        </div>
    </div>
</div>

{%include "modals/experimentSetupModal.html"%}
{%include "modals/recruitmentModal.html"%}

{%endblock content%}
