
{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">       

        $(document).ready(function(){   

            {%include "staff/experiment/experimentView.js"%}
        });
        
    </script>
    <style>
        div.scrollable {           
            height: 200px;
            overflow: auto;
        }

        [v-cloak] {
            display: none;
        }
    </style>
{%endblock head%}

{%block content%}    
<!-- modals -->
<div v-if="experiment">
    {%include "modals/experimentSetupModal.html"%}
    {%include "modals/editTraitsModal.html"%}
    {%include "modals/updateTraitModal.html"%}
</div>


<div class="row justify-content-md-center mb-4" v-cloak v-if="experiment">
    <div class="col col-md-12">
        {%include "staff/experiment/experiment_card.html"%}
    </div>
</div>
<div class="row justify-content-lg-center mt-4" v-else>
    <div class = "col mt-4 text-center">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>

{%endblock content%}
