
{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">       

        $(document).ready(function(){   

            {%include "staff/experiment/experimentView.js"%}

            tinyMCE.init({
                target: document.getElementById('id_reminderText'),
                height : "400",
                theme: "silver",
                plugins: "directionality,paste,searchreplace,code,link",
                toolbar: "undo redo | styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link | code",
                directionality: "{{ directionality }}",
            });

            tinyMCE.init({
                target: document.getElementById('id_invitationText'),
                height : "400",
                theme: "silver",
                plugins: "directionality,paste,searchreplace,code,link",
                toolbar: "undo redo | styleselect | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link | code",
                directionality: "{{ directionality }}",
            });

            // Prevent Bootstrap dialog from blocking focusin
            $(document).on('focusin', function(e) {
                if ($(e.target).closest(".tox-tinymce, .tox-tinymce-aux, .moxman-window, .tam-assetmanager-root").length) {
                    e.stopImmediatePropagation();
                }
            });
        });
        
    </script>
    <style>
        div.scrollable {           
            height: 200px;
            overflow: auto;
        }
    </style>
{%endblock head%}

{%block content%}    
<!-- modals -->
{%include "modals/experimentSetupModal.html"%}
{%include "modals/editTraitsModal.html"%}
{%include "modals/updateTraitModal.html"%}

<div class="row justify-content-md-center mb-4">
    <div class="col col-md-12">
        {%include "staff/experiment/experiment_card.html"%}
    </div>
</div>



{%endblock content%}
