{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

<script>            

    document.addEventListener("DOMContentLoaded", function(){  
        {%include "staff/experiment_session_parameters/experiment_session_parameters.js"%}
    }); 
</script>   

<style>
    [v-cloak] {
    display: none;
    }
</style>

{%endblock head%}

{%block content%}    

<div class="row justify-content-xl-center" v-cloak v-if="session">
    <div class="col col-md-6 mb-4">
        {%include "staff/experiment_session_parameters/experiment_session_parameters_card.html"%}
    </div>
</div>
<div class="row justify-content-lg-center mt-4" v-cloak v-else>
    <div class = "col mt-4 text-center">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>
{%endblock content%}
