{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
    <title>User Info</title>

    <script type="text/javascript">
    $(document).ready(function(){             
            
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                sessionDay:{
                    confirmedCount:"",
                    experiment_session_days_user:[],    
                    defaultShowUpFee : "",      
                    complete:true,       
                },
                bumpButtonText : '<i class="fa fa-arrow-left" aria-hidden="true"></i> Bump',
                noShowButtonText : '<i class="fa fa-arrow-left" aria-hidden="true"></i> No Show',
                attendButtonText : '<i class="fa fa-arrow-left" aria-hidden="true"></i> Attend',
                waitButtonText : '<i class="fas fa-spinner fa-spin"></i>',
                dateText:'<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>',
                saveButtonText: 'Save Payouts <i class="far fa-save" aria-hidden="true"></i>',
                fillShowUpFeeButtonText : "Fill show-up fee: $",
                completeSessionButtonText : 'Complete Session <i class="fas fa-check"></i>',
                openSessionButtonText : 'Re-Open Session <i class="fas fa-book-open"></i>',
                bumpAllButtonText : 'Bump All <i class="fas fa-user-slash"></i>',
                autoBumpButtonText : 'Auto Bump <i class="fa fa-random" aria-hidden="true"></i>',
                updatePayoutsRequired : false,             //need to send payouts update
                updatingPayoutsInProgress : false,         //currently sending a payouts update
            },

            methods:{
                //get the session day json info
                getSession:function(){
                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"getSession" ,                                                                                                                             
                        })
                        .then(function (response) {     
                            app.$data.sessionDay= response.data.sessionDay;       

                            app.$data.dateText = app.formatDate(app.$data.sessionDay.date_raw);      
                            app.$data.dateText += " | " + app.$data.sessionDay.length + " Minutes";
                            app.$data.dateText += " | " + app.$data.sessionDay.location.name;    
                            
                            app.$data.fillShowUpFeeButtonText += app.$data.sessionDay.defaultShowUpFee;

                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });                        
                    },

                //randomly bump excess subjects
                autobump:function(){
                    app.$data.autoBumpButtonText = '<i class="fas fa-spinner fa-spin"></i>';
                    
                    // esdu.buttonText = '<i class="fas fa-spinner fa-spin"></i>'
                     axios.post('/experimentSessionRun/{{id}}/', {
                             action :"autoBump" ,   
                                                                                                                                                    
                         })
                         .then(function (response) {                                
                            app.$data.sessionDay = response.data.sessionDay;    

                            app.$data.autoBumpButtonText = 'Auto Bump <i class="fa fa-random" aria-hidden="true"></i>';                    
                         })
                         .catch(function (error) {
                             console.log(error);                                   
                         });                        
                },
                
                //set subject to attended
                attendSubject:function(esduID,id){
                    app.$data.sessionDay.experiment_session_days_user[id].waiting = true;
                    
                   // esdu.buttonText = '<i class="fas fa-spinner fa-spin"></i>'
                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"attendSubject" ,   
                            id:esduID, 
                            localId:id,                                                                                                                         
                        })
                        .then(function (response) {                                
                           app.$data.sessionDay = response.data.sessionDay;                        
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });                        
                    },

                //set subject to bumped
                bumpSubject:function(esduID,id){
                    app.$data.sessionDay.experiment_session_days_user[id].waiting = true;

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"bumpSubject" ,   
                            id:esduID,                                                                                                            
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;                                                                 
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });                        
                    },
                
                //set subject to no show
                noShowSubject:function(esduID,id){
                    app.$data.sessionDay.experiment_session_days_user[id].waiting = true;
                    
                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"noShowSubject" , 
                            id:esduID,                                                                                                                            
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;                                                                      
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });                        
                    },
                
                //save the current payouts
                savePayouts:function(){
                    app.$data.saveButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"savePayouts" ,  
                            payoutList : app.getPayoutlist(),                                                                                                                           
                        })
                        .then(function (response) {     
                            app.$data.sessionDay= response.data.sessionDay;      
                            app.$data.saveButtonText = 'Save Payouts <i class="far fa-save" aria-hidden="true"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //finsh session, prevents further editing
                completeSession:function(){

                    app.$data.completeSessionButtonText = '<i class="fas fa-spinner fa-spin"></i>';
                    app.$data.openSessionButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"completeSession" ,                                                                                                                             
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;     
                            
                            app.$data.completeSessionButtonText = 'Complete Session <i class="fas fa-check"></i>';
                            app.$data.openSessionButtonText = 'Re-Open Session <i class="fas fa-book-open"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //fill subjects with default show up fee from experiments model
                fillWithDefaultShowUpFee:function(){
                    app.$data.fillShowUpFeeButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"fillDefaultShowUpFee" ,                                                                                                                             
                        })
                        .then(function (response) {     
                            app.$data.sessionDay = response.data.sessionDay;    

                            app.$data.fillShowUpFeeButtonText = "Fill show-up fee: $" + app.$data.sessionDay.defaultShowUpFee;
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //run when key pressed in payouts box
                payoutsKeyUp:function(userId,localId){
                    app.$data.saveButtonText = 'Save Payouts <i class="far fa-save" aria-hidden="true"></i> *';
                },

                //when user changes the payouts, auto save
                payoutsChange:function(userId,localId){
                   app.$data.saveButtonText = 'Save Payouts <i class="far fa-save" aria-hidden="true"></i> *';
                   
                   if(app.$data.updatingPayoutsInProgress)
                   {
                       app.$data.updatePayoutsRequired = true;
                       return;
                   }
                   else
                   {
                      app.$data.updatePayoutsRequired = false;
                      app.$data.updatingPayoutsInProgress = true;
                   }                  
                   
                   axios.post('/experimentSessionRun/{{id}}/', {
                            action :"backgroundSave", 
                            payoutList : app.getPayoutlist(),                                                                                                                    
                        })
                        .then(function (response) {     
                            status = response.data.status;    

                            if(status == "success")
                            {
                                app.$data.updatingPayoutsInProgress = false;
                            }
                            else
                            {

                            }

                            if(app.$data.updatePayoutsRequired){
                                app.payoutsChange(userId,localId);
                            }
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },   

                //return a list of the payouts entered by the user
                getPayoutlist:function(){
                    payoutList=[];

                    for(var i=0;i<app.$data.sessionDay.experiment_session_days_user.length;i++)
                    {
                        tempU = app.$data.sessionDay.experiment_session_days_user[i];
                        tempV = {"id":tempU.id,
                                "earnings":tempU.earnings,
                                "showUpFee":tempU.show_up_fee,
                                }
                        payoutList.push(tempV);
                    }

                    return payoutList;
                },             

                //bump all present users
                bumpAll:function(){
                    app.$data.bumpAllButtonText = '<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/experimentSessionRun/{{id}}/', {
                            action :"bumpAll"                                                                                                                            
                        })
                        .then(function (response) {     
                            app.$data.sessionDay= response.data.sessionDay;      
                            app.$data.bumpAllButtonText = 'Bump All <i class="fas fa-user-slash"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                                   
                        });
                },

                //format date to human readable
                formatDate: function(value){
                    if (value) {        
                        //console.log(value);                    
                        return moment(String(value)).local().format('MM/DD/YYYY hh:mm a');
                    }
                    else{
                        return "date format error";
                    }
                },
            },

            mounted: function(){
                    this.getSession();                    
            },
        });

    });
    </script>
{%endblock head%}

{%block content%}
<div class="row justify-content-xl-center">
    <div class="col col-xl-12">
        <div class="card">                  
            <div class="card-header">
              Run Session Day : <a href="{% url 'experimentView' sessionDay.experiment_session.experiment.id %}">{{sessionDay.experiment_session.experiment}}</a> | 
                                <a href="{% url 'experimentSessionView' sessionDay.experiment_session.id %}">Session Info</a> |
                                <span v-html="dateText"></span>
            </div>
            <div class="card-body">               
            
                <div class="row">
                    <div class = "col">
                        <table class="table table-hover table-condensed">
                            <caption style="caption-side: top;" class="caption text-center">Confirmed ([[sessionDay.confirmedCount]])</caption>
                            <thead>
                                <th width="20%">
                                    Name 
                                </th>
                                <th width=20%  style="text-align: center;">  
                                    Earnings($)
                                </th> 
                                <th width=20%  style="text-align: center;">  
                                    Show-up Fee($)
                                </th>   
                                <th width=20%  style="text-align: center;">  
                                    Status
                                </th>                                                                             
                                <th width="20%" style="text-align: center;">
                                    Control
                                </th>
                            </thead>
                            <tbody>
                                <tr v-for="(esdu,index) in sessionDay.experiment_session_days_user" v-bind:key="esdu.id">                                
                                    <td>
                                        <span v-html="index+1"></span>) 
                                        <a  v-bind:href='"/userInfo/" + esdu.user.id' target="_blank">
                                            <span v-html="esdu.user.last_name"></span>, <span v-html="esdu.user.first_name"></span>
                                        </a>                                    
                                    </td> 
                                    <td style="text-align: center;">
                                        <div v-if='esdu.attended'>
                                            <div v-if='sessionDay.complete'>
                                                <span v-html="esdu.earnings"></span>
                                            </div>
                                            <div v-else>
                                                <input type="number" style="text-align: center;" v-model="esdu.earnings"
                                                    v-on:change="payoutsChange(esdu.id,index)" v-on:keyup= "payoutsKeyUp(esdu.id,index)">
                                            </div>
                                        </div>                                                                                                                  
                                    </td>                                    
                                    <td style="text-align: center;">
                                        <div v-if='esdu.attended || esdu.bumped'>
                                            <div v-if='sessionDay.complete'>
                                                <span v-html="esdu.show_up_fee"></span>
                                            </div>
                                            <div v-else>
                                                <input type="number" style="text-align: center;" v-model="esdu.show_up_fee"
                                                   v-on:change="payoutsChange(esdu.id,index)" v-on:keyup= "payoutsKeyUp(esdu.id,index)">
                                            </div>                                           
                                        </div>                                        
                                    </td>
                                    <td style="text-align: center;">                                       
                                        <div v-if="esdu.attended">Attended</div>
                                        <div v-else-if="esdu.bumped">Bumped</div>
                                        <div v-else>No Show</div>                                                                           
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>  
                                            <div v-if = "esdu.waiting">
                                                <span v-html='waitButtonText'></span>
                                            </div>
                                            <div v-else-if="esdu.attended">
                                                <button v-bind:id="'bumpSubject' + esdu.id" type="button" class="btn btn-primary btn-sm"
                                                        v-on:click = "bumpSubject(esdu.id,index)">
                                                    <span v-html='bumpButtonText'></span> 
                                                </button>
                                            </div>
                                            <div v-else-if="esdu.bumped">
                                                <button v-bind:id="'nowSubject' + esdu.id" type="button" class="btn btn-primary btn-sm"
                                                        v-on:click = "noShowSubject(esdu.id,index)">
                                                    <span v-html='noShowButtonText'></span>
                                                </button>
                                            </div>
                                            <div v-else>
                                                <button v-bind:id="'attendSubject' + esdu.id" type="button" class="btn btn-primary btn-sm" v-on:click = "attendSubject(esdu.id,index)">
                                                    <span v-html='attendButtonText'></span>
                                                </button>
                                            </div>
                                        </div>                                                                               
                                    </td>                                
                                </tr>
                            </tbody>                                                                      
                            <tfoot>
                                <tr>
                                    <td style="text-align: center;">
                                        <button type="button" class="btn btn-primary btn-sm" v-on:click = "completeSession()">
                                            <div v-if="sessionDay.complete">
                                                <span v-html='openSessionButtonText'></span>
                                            </div>
                                            <div v-else>
                                                <span v-html='completeSessionButtonText'></span>
                                            </div>
                                            
                                        </button>                                      
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>
                                            <button type="button" class="btn btn-primary btn-sm" v-on:click = "savePayouts()">
                                                <span v-html='saveButtonText'></span> 
                                            </button>
                                        </div>                                                                                
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>
                                            <button type="button" class="btn btn-primary btn-sm" v-on:click = "fillWithDefaultShowUpFee()">
                                                <span v-html='fillShowUpFeeButtonText'></span> 
                                            </button>
                                        </div>                                                                                
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>
                                            <button type="button" class="btn btn-primary btn-sm" v-on:click = "autobump()">
                                                <span v-html='autoBumpButtonText'></span> 
                                            </button>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <div v-if='sessionDay.complete === false'>
                                            <button type="button" class="btn btn-primary btn-sm" v-on:click = "bumpAll()">
                                                <span v-html='bumpAllButtonText'></span> 
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                
                
            </div>                    
        </div>                
    </div>
</div>    
{%endblock content%}