{%extends "base.html"%}
{% load humanize %}

{%block head%}

    <script>
        document.addEventListener("DOMContentLoaded", function(){                         
            {%include "staff/payment_history/payment_history.js"%}
        });
    </script>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center mb-4">
    <div class="col">
        {%include "staff/payment_history/budget_history_card.html"%}                    
    </div>
</div>

<div class="row justify-content-lg-center mb-4">
    <div class="col">
        {%include "staff/payment_history/recruiter_history_card.html"%}                    
    </div>
</div>

<div class="row justify-content-lg-center mb-4">
    <div class="col">
        {%include "staff/payment_history/api_history_card.html"%}                    
    </div>
</div>    

{%endblock content%}