{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <link rel="stylesheet" href="https://unpkg.com/pc-bootstrap4-datetimepicker@4.17.50/build/css/bootstrap-datetimepicker.min.css"/>

    <script src="https://unpkg.com/pc-bootstrap4-datetimepicker@4.17.50/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-bootstrap-datetimepicker@5"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        // http://eonasdan.github.io/bootstrap-datetimepicker/
        Vue.component('date-picker', VueBootstrapDatetimePicker);

        $.extend(true, $.fn.datetimepicker.defaults, {
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                up: 'fas fa-arrow-up',
                down: 'fas fa-arrow-down',
                previous: 'fas fa-chevron-left',
                next: 'fas fa-chevron-right',
                today: 'fas fa-calendar-check',
                clear: 'far fa-trash-alt',
                close: 'far fa-times-circle'
            }
            });

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                pettyCash:{
                           department:"",
                           startDate:"",
                           endDate:"",
                           department_name:"",
                           },
                studentReport:{
                           studentReport_gt600:0,
                           studentReport_studentWorkers:0,
                           studentReport_nra:0,
                           studentReport_startDate:"",
                           studentReport_endDate:"",                
                },
                maxAnnualEarnings:{{maxAnnualEarnings}},
                pettyCashButtonText:'Generate <i class="fas fa-scroll fa-xs"></i>',
                studentReportButtonText:'Generate <i class="fas fa-scroll fa-xs"></i>',
                options: {
                        // https://momentjs.com/docs/#/displaying/
                        format: 'MM/DD/YYYY',
                        useCurrent: true,
                        showClear: false,
                        showClose: true,
                        sideBySide: true,
                        },
            },

            methods:{
                //display form errors
                displayErrors:function(errors){
                        for(var e in errors)
                        {
                            $("#id_" + e).attr("class","form-control is-invalid")
                            var str='<span id=id_errors_'+ e +' class="text-danger">';
                            
                            for(var i in errors[e])
                            {
                                str +=errors[e][i] + '<br>';
                            }

                            str+='</span>';
                            $("#div_id_" + e).append(str);    
                        }
                    },

                //clear errors from forms
                clearMainFormErrors:function(){
                        for(var item in app.$data.pettyCash)
                        {
                            $("#id_" + item).attr("class","form-control");
                            $("#id_errors_" + item).remove();
                        }  
                        
                        for(var item in app.$data.studentReport)
                        {
                            $("#id_" + item).attr("class","form-control");
                            $("#id_errors_" + item).remove();
                        }
                    },

                //get the petty chash csv
                getPettyCash:function(){
                    app.$data.pettyCashButtonText='<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/reports/', {
                                    action :"getPettyCash" ,
                                    formData : $("#pettyCashForm").serializeArray(),                                                                                                                             
                                })
                                .then(function (response) { 
                                    status=response.data.status;                                                                  

                                    app.clearMainFormErrors();

                                    if(status=="fail")
                                    {                         
                                        app.displayErrors(response.data.errors);             
                                    }
                                    else
                                    {                                                                       
                                        console.log(response.data);

                                        var downloadLink = document.createElement("a");
                                        var blob = new Blob(["\ufeff", response.data]);
                                        var url = URL.createObjectURL(blob);
                                        downloadLink.href = url;
                                        downloadLink.download = "Petty_Cash_" + $( "#id_department option:selected" ).text() + "_"+ app.$data.pettyCash.startDate + "_to_" + app.$data.pettyCash.endDate + ".csv";

                                        document.body.appendChild(downloadLink);
                                        downloadLink.click();
                                        document.body.removeChild(downloadLink);
                                    }    
                                    
                                    app.$data.pettyCashButtonText = 'Generate <i class="fas fa-scroll fa-xs"></i>';
                                })
                                .catch(function (error) {
                                    console.log(error);
                                    app.$data.searching=false;
                                });                        
                            },

                //get the petty chash csv
                getStudentReport:function(){
                    app.$data.studentReportButtonText='<i class="fas fa-spinner fa-spin"></i>';

                    axios.post('/reports/', {
                                    action :"getStudentReport" ,
                                    formData : $("#studentReportForm").serializeArray(),                                                                                                                             
                                })
                                .then(function (response) { 
                                    status=response.data.status;                                                                  

                                    app.clearMainFormErrors();

                                    if(status=="fail")
                                    {                         
                                        app.displayErrors(response.data.errors);             
                                    }
                                    else
                                    {                                                                       
                                        console.log(response.data);

                                        var downloadLink = document.createElement("a");
                                        var blob = new Blob(["\ufeff", response.data]);
                                        var url = URL.createObjectURL(blob);
                                        downloadLink.href = url;
                                        downloadLink.download = "Student_Report_" + app.$data.studentReport.studentReport_startDate + "_to_"+ app.$data.studentReport.studentReport_endDate + ".csv";

                                        document.body.appendChild(downloadLink);
                                        downloadLink.click();
                                        document.body.removeChild(downloadLink);
                                    }    
                                    
                                    app.$data.studentReportButtonText = 'Generate <i class="fas fa-scroll fa-xs"></i>';
                                })
                                .catch(function (error) {
                                    console.log(error);
                                    app.$data.searching=false;
                                });                        
                            },
            },

            mounted: function(){
                                     
            },
        });

    });

    </script>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
    <!-- petty cash -->
    <div class="col col-lg-4">
        <div class="card">                  
            <div class="card-header">
                Petty Cash Reconciliation Sheet 
                {%if user.is_superuser%}
                <span class="float-right">
                    <!-- buttons here -->
                </span>
                {%endif%}                                                 
            </div>
            <div class="card-body">
                <form id="pettyCashForm">             
                    
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ pettyCashForm.department|as_crispy_field }}         
                        </div>            
                    </div>
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">
                            <div id="div_id_startDate" class="form-group">
                                <label for="id_startDate" class="requiredField">
                                    Start Date<span class="asteriskField">*</span>
                                </label>
                                <div>                            
                                   <date-picker name="startDate" id="id_startDate" v-model="pettyCash.startDate" :config="options"></date-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">
                            <div id="div_id_endDate" class="form-group">
                                <label for="id_endDate" class="requiredField">
                                    End Date<span class="asteriskField">*</span>
                                </label>
                                <div>                            
                                   <date-picker name="endDate" id="id_endDate" v-model="pettyCash.endDate" :config="options"></date-picker>
                                </div>
                            </div>
                        </div>
                    </div>                   

                      
                </form>                              
            </div>
            <div class="card-footer">       
                <span class="float-right">            
                    <button class="btn btn-primary" type="button" v-on:click = "getPettyCash()">
                        <span v-html ="pettyCashButtonText"></span>
                    </button>   
                <span>      
             </div>                    
        </div>                
    </div>
    <!-- student report -->
    <div class="col col-lg-4">
        <div class="card">                  
            <div class="card-header">
                Student Report 
                {%if user.is_superuser%}
                <span class="float-right">
                    <!-- buttons here -->
                </span>
                {%endif%}                                                 
            </div>
            <div class="card-body">
                <form id="studentReportForm">             
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ studentReportForm.studentReport_nra|as_crispy_field }}         
                        </div>            
                    </div>
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ studentReportForm.studentReport_gt600|as_crispy_field }}         
                        </div>            
                    </div>
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ studentReportForm.studentReport_studentWorkers|as_crispy_field }}         
                        </div>            
                    </div>
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">
                            <div id="div_id_studentReport_startDate" class="form-group">
                                <label for="id_startDate" class="requiredField">
                                    Start Date and Time<span class="asteriskField">*</span>
                                </label>
                                <div>                            
                                   <date-picker name="studentReport_startDate" id="id_studentReport_startDate" v-model="studentReport.studentReport_startDate" :config="options"></date-picker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">
                            <div id="div_id_studentReport_endDate" class="form-group">
                                <label for="id_endDate" class="requiredField">
                                    End Date and Time<span class="asteriskField">*</span>
                                </label>
                                <div>                            
                                   <date-picker name="studentReport_endDate" id="id_studentReport_endDate" v-model="studentReport.studentReport_endDate" :config="options"></date-picker>
                                </div>
                            </div>
                        </div>
                    </div>                   

                      
                </form>                              
            </div>
            <div class="card-footer">       
                <span class="float-right">            
                    <button class="btn btn-primary" type="button" v-on:click = "getStudentReport()">
                        <span v-html ="studentReportButtonText"></span>
                    </button>   
                <span>      
             </div>                    
        </div>                
    </div>
</div>    
{%endblock content%}