{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        {%include "staff/sessions_open/sessions_open.js"%}
    });

    </script>
    <style>
        .table_header{
            font-weight:bold;
            font-size: 16px;
        }

        [v-cloak] {
            display: none;
            }
    </style>
{%endblock head%}

{%block content%}
<!-- open sessions -->
<div class="row justify-content-lg-center" v-cloak>
    <div class="col">
        {%include "staff/sessions_open/sessions_open_card.html"%}                 
    </div>
</div>  

{%endblock content%}