{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        {%include "staff/traits/traits.js"%}
    });

    </script>

    <style>
        [v-cloak] {
        display: none;
        }
    </style>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
        <div class="col-md-1">
        </div>

        <div class="col-md-4 mb-4 md-md-0">
            {%include "staff/traits/upload_traits_card.html"%}                
        </div>

        <div class="col-md-4">
            {%include "staff/traits/download_traits_card.html"%}               
        </div>

        <div class="col-md-1">
        </div>

    </div>
</div>    
{%endblock content%}