{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
    $(document).ready(function(){
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ['[[', ']]'],
            el: '#root',        
            data:{
                //sessions:[],
                file: '',
                file_name:'Choose File',
                upload_messaage:'',
                upload_button_text:'Upload <i class="fas fa-upload"></i>',
            },

            methods:{
                uploadCSV:function(){

                    if(app.$data.file == "")
                        return;

                    app.$data.upload_messaage = "";
                    app.$data.upload_button_text = '<i class="fas fa-spinner fa-spin"></i>';

                    let formData = new FormData();
                    formData.append('file', app.$data.file);

                    axios.post('/traits/', formData,
                            {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                    }
                                } 
                            )
                            .then(function (response) {     

                                app.$data.upload_messaage = response.data.message;
                                app.$data.upload_button_text= 'Upload <i class="fas fa-upload"></i>'
                                                                                
                            })
                            .catch(function (error) {
                                console.log(error);
                                app.$data.searching=false;
                            });                        
                        },
                
                handleFileUpload:function(){
                    app.$data.file = this.$refs.file.files[0];
                    app.$data.file_name = app.$data.file.name;
                },
                
                getReport:function(){
                    axios.post('/traits/', {
                                action :"getReport" ,                                                                                                                             
                            })
                            .then(function (response) {     
                                                                                
                            })
                            .catch(function (error) {
                                console.log(error);
                                app.$data.searching=false;
                            });                        
                        },
            },

            mounted: function(){
                    //this.getUser();                    
            },
        });

    });

    </script>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
        <div class="col col-lg-1">
        </div>
        <div class="col col-lg-4">
            <div class="card">                  
                <div class="card-header">
                   Upload New Traits
                   {%if user.is_superuser%}
                        <a href="/admin/main/traits/" style="float: right;">Manage Traits</a> 
                    {%endif%}                                                 
                </div>
                <div class="card-body">            
                    <div class="row">
                        <div class = "col" style="text-align: center;">
                            
                            <!-- <label>File
                                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                            </label> -->

                            <div class="custom-file">
                                <input type="file" ref="file" class="custom-file-input" id="file" v-on:change="handleFileUpload()">
                                <label class="custom-file-label" for="file">[[file_name]]</label>
                            </div>                            
                        </div>   
                    </div>
                    <div class="row mt-2">
                        <div class = "col" style="text-align: center;">
                            <button class="btn btn-outline-primary" v-on:click="uploadCSV()"><span v-html="upload_button_text"></span></button>
                        </div>   
                    </div>
                    <div class="row mt-4">
                        <div class = "col">
                            <span v-html="upload_messaage"></span>
                        </div>
                    </div>
                    
                </div>                    
            </div>                
        </div>

        <div class="col col-lg-4">
            <div class="card">                  
                <div class="card-header">
                   Download Report                                                 
                </div>
                <div class="card-body">               
    
                </div>                    
            </div>                
        </div>
        <div class="col col-lg-1">
        </div>

    </div>
</div>    
{%endblock content%}