{%extends "base.html"%}
{% load crispy_forms_tags %}
{% load humanize %}
{% load tz %}

{%block head%}

<script>
    document.addEventListener("DOMContentLoaded", function(){
        {%include "staff/user_info/user_info.js"%}
    });
</script>
{%endblock head%}

{%block content%}
{%include "modals/editSubjectModal.html"%}
<div class="row justify-content-lg-center">
    <div class="col-md-8">
        {%include "staff/user_info/user_info.html"%}
    </div>    
</div>    

{%include "staff/user_info/note_modal.html"%}
{%endblock content%}