{%extends "base.html"%}
{% load crispy_forms_tags %}
{% load humanize %}
{% load tz %}

{%block head%}

<script type="text/javascript">
    $(document).ready(function(){

        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";

        var app = new Vue({
        
            delimiters: ["[[", "]]"],
            el: '#root',        
            data:{
                session_day_attended:[{id:"0"}],
                session_day_upcoming:[{id:"0"}],
                invitations:[{id:"0"}],
                institutions:[],
                subject_traits:[],
                notes:[],
                institutionsList:"",
                showInvitationsText:'Show <i class="fa fa-eye fa-xs"></i>',
                showTraitsButtonText:'Show <i class="fa fa-eye fa-xs"></i>',
                noInvitationsFoundText:'',
                noTraitsFoundText:'',
                noteText:'',
                su:{%if user.is_superuser%}true{%else%}false{%endif%},
            },

            methods:{
                //get attended and upcoming sessions
                getSessions:function(){
                    axios.post('/userInfo/{{id}}/', {
                        status :"getSessions" ,                                                                                                                             
                    })
                    .then(function (response) {     
                        app.takeGetSessions(response);                    
                    })
                    .catch(function (error) {
                        console.log(error);
                        app.$data.searching=false;
                    });                        
                },

                //process get session response
                takeGetSessions:function(response)
                {
                    app.$data.session_day_attended = response.data.session_day_attended;
                    app.$data.session_day_upcoming = response.data.session_day_upcoming;  
                    app.$data.institutions = response.data.institutions;     
                    app.$data.notes = response.data.notes;

                    //format session data
                    for(var i=0;i<app.$data.session_day_attended.length;i++)
                    {
                        app.$data.session_day_attended[i].date = app.formatDate(app.$data.session_day_attended[i].date,
                                                                                app.$data.session_day_attended[i].enable_time);
                        app.$data.session_day_attended[i].earnings = parseFloat(app.$data.session_day_attended[i].earnings).toFixed(2);
                        app.$data.session_day_attended[i].show_up_fee = parseFloat(app.$data.session_day_attended[i].show_up_fee).toFixed(2);
                    } 

                    for(var i=0;i<app.$data.session_day_upcoming.length;i++)
                    {
                        app.$data.session_day_upcoming[i].date = app.formatDate(app.$data.session_day_upcoming[i].date,
                                                                                app.$data.session_day_upcoming[i].enable_time);
                        app.$data.session_day_upcoming[i].earnings = parseFloat(app.$data.session_day_upcoming[i].earnings).toFixed(2);
                        app.$data.session_day_upcoming[i].show_up_fee = parseFloat(app.$data.session_day_upcoming[i].show_up_fee).toFixed(2);
                    }

                    for(var i=0;i<app.$data.notes.length;i++)
                    {
                        app.$data.notes[i].date = app.formatDate(app.$data.notes[i].date, true);
                    }

                    app.$data.institutionsList="";
                    //create institution list
                    for(var i=0;i<app.$data.institutions.length;i++)
                    {
                        if(i>0)
                        {
                            app.$data.institutionsList += ", ";
                        }

                        app.$data.institutionsList += app.$data.institutions[i].name;
                    }
                },

                // show the full invitation list
                showInvitations: function(value){
                    app.$data.showInvitationsText='<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>';

                    axios.post('/userInfo/{{id}}/', {
                            status :"getInvitations",                                                                                                                        
                        })
                        .then(function (response) {     
                            app.$data.invitations = response.data.invitations;
                            app.$data.noInvitationsFoundText = "No invitations found"

                            for(var i=0;i<app.$data.invitations.length;i++)
                            {
                                app.$data.invitations[i].date = app.formatDate(app.$data.invitations[i].date,
                                                                                app.$data.invitations[i].enable_time );
                                app.$data.invitations[i].earnings = parseFloat(app.$data.invitations[i].earnings).toFixed(2);
                                app.$data.invitations[i].show_up_fee = parseFloat(app.$data.invitations[i].show_up_fee).toFixed(2);
                            }

                            app.$data.showInvitationsText='Show <i class="fa fa-eye fa-xs"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                            
                        }); 
                },

                //show traits
                showTraits:function(){
                    app.$data.showTraitsButtonText='<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>';

                    axios.post('/userInfo/{{id}}/', {
                            status :"getTraits",                                                                                                                        
                        })
                        .then(function (response) {     
                            app.$data.subject_traits = response.data.subject_traits;
                            app.$data.noTraitsFoundText = "No traits found"
                                                       
                            app.$data.showTraitsButtonText='Show <i class="fa fa-eye fa-xs"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                            
                        });
                },

                //delete the selected note
                deleteNote:function(id){
                    axios.post('/userInfo/{{id}}/', {
                            status : "deleteNote",
                            id : id,                                                                                                                
                        })
                        .then(function (response) {     
                            app.takeGetSessions(response);                            
                        })
                        .catch(function (error) {
                            console.log(error);                            
                        });
                },

                //make a not about the subject
                sendMakeNote:function(){
                    
                    if(app.$data.noteText == '') return;

                    axios.post('/userInfo/{{id}}/', {
                            status : "makeNote",
                            text : app.$data.noteText,                                                                                                                
                        })
                        .then(function (response) {     
                            app.takeGetSessions(response);
                            $('#noteModalCenter').modal('toggle');
                            app.$data.noteText = "";
                        })
                        .catch(function (error) {
                            console.log(error);                            
                        });
                },

                // fire when edit note model is shown
                showMakeNote:function(){
                    
                    $('#noteModalCenter').modal('show');
                    
                },

                //fire when note model hides
                hideMakeNote:function(){
                    
                },

                formatDate: function(value, enable_time){
                        if (value) {        
                            if(enable_time)
                            {                    
                                return moment(String(value)).local().format('M/D/YYYY, h:mm a');
                            }
                            else
                            {
                                return moment(String(value)).local().format('M/D/YYYY') + ", Anytime";
                            }

                        }
                        else{
                            return "date format error";
                        }
                    },    
            },

            mounted: function(){
                    this.getSessions();  
                    $('#noteModalCenter').on("hidden.bs.modal", this.hideMakeNote);                  
            },
        });

        
    });
</script>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
    <div class="col col-lg-8">
        <div class="card">                  
            <div class="card-header">
                User Information: {{u.last_name.capitalize}}, {{u.first_name.capitalize}}     
               
                <span class="float-right">
                    {%if user.is_superuser%}
                    <a href="/admin/main/profile/{{u.profile.id}}/change">
                        Edit Subject <i class="fas fa-edit fa-xs"></i>
                    </a> |  
                    {%endif%}
                    {%if u.profile.type.id == 2%}
                    <button type="button" class="btn btn-outline-success btn-sm" v-on:click = "showMakeNote()">
                        Make Note <i class="fas fa-sticky-note fa-xs"></i>
                    </button>
                    {%endif%}
                </span>
                                                                 
            </div>
            <div class="card-body">              
                                  
                <div class = "row">
                    <div class = "col"> 
                        <span class="float-right">Email:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{{u.email}}</span>
                    </div>
                    <div class = "col"> 
                        <span class="float-right">Email Confirmed:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{%if u.profile.email_confirmed == "yes"%}Yes{%else%}<span style="color: red;"></span>No</span>{%endif%}</span>
                    </div>                
                </div>
                <div class = "row">
                    <div class = "col"> 
                        <span class="float-right">Major:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{{u.profile.major}}</span>
                    </div>
                    <div class = "col"> 
                        <span class="float-right">Gender:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{{u.profile.gender}}</span>
                    </div>               
                </div>
                <div class = "row">
                    <div class = "col"> 
                        <span class="float-right">Enrollment Status:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{{u.profile.subject_type}}</span>
                    </div>
                    <div class = "col"> 
                        <span class="float-right">Student Worker:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{%if u.profile.studentWorker%}Yes{%else%}No{%endif%}</span>
                    </div>               
                </div>
                <div class = "row">
                    <div class = "col"> 
                        <span class="float-right">Phone:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{{u.profile.phone}}</span>
                    </div>
                    <div class = "col"> 
                        <span class="float-right">Blackballed:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{%if u.profile.blackballed%}<span style="color: red;">Yes</span>{%else%}<span>No</span>{%endif%}
                    </div>               
                </div>
                <div class = "row">
                    <div class = "col"> 
                        <span class="float-right">Student ID:</span>                            
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{{u.profile.studentID}}</span>
                    </div>   
                    <div class = "col"> 
                        <span class="float-right">Active:</span>                             
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{%if u.is_active%}<span>Yes</span>{%else%}<span style="color: red;">No</span>{%endif%} 
                    </div>                                    
                </div>
                <div class = "row">
                    <div class = "col"> 
                        <span class="float-right">Paused:</span>                        
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{%if u.profile.paused%}<span style="color: red;">Yes</span>{%else%}<span>No</span>{%endif%}
                    </div> 
                    <div class = "col"> 
                        <span class="float-right">Consent Required:</span>                             
                    </div>
                    <div class = "col"> 
                        <span class="float-left">{%if u.profile.consent_required%}<span style="color: red;">Yes</span>{%else%}<span>No</span>{%endif%}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col"> 
                        <span class="float-right">YTD Earnings</span>                    
                    </div>
                    <div class = "col"> 
                        {{u.profile.get_ytd_payouts}}
                    </div> 
                    <div class = "col"> 
                        <span class="float-right">In Institutions:</span>                             
                    </div>
                    <div class = "col"> 
                        <span v-html="institutionsList"></span> 
                    </div>
                </div>
                
                <br>
                <br>
                {%if u.profile.type.id == 2%}                
                <!-- notes table -->
                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Notes</caption>

                    <thead>
                        <th width="25%">                            
                            Date
                        </th> 
                        <th width="25%" style="text-align: center;">
                            Made By
                        </th>                                                      
                        <th width="50%" style="text-align: center;">
                            Text
                        </th>
                    </thead>
                    <tbody>                        
                        <tr v-for="(n,index) in notes" v-bind:key="n.id">
                            <td> 
                                <span v-if="su">
                                    <button type="button" class="btn btn-outline-danger btn-sm" v-on:click = "deleteNote(n.id)">
                                       <i class="fas fa-trash-alt"></i>
                                    </button>
                                </span>                                
                                [[n.date]]
                            </td>
                            <td  style="text-align: center;">                                                                
                                [[n.noteMaker.last_name]], [[n.noteMaker.first_name]]                                    
                            </td>
                            <td >     
                                <span v-html="n.text" style="white-space: pre-line;"></span>                            
                            </td>
                        </tr>                        
                    </tbody>
                    <tfoot v-if="notes.length === 0">
                        <tr>
                            <td>No Notes.</td>
                        </tr>
                    </tfoot>                                    
                </table>
                <br>
                <br>
                <!-- upcoming table -->
                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Upcoming Experiments</caption>

                    <thead>
                        <th width="35%">
                            Experiment
                        </th> 
                        <th width="30%" style="text-align: center;">
                            Date
                        </th>                                                      
                        <th width="35%" style="text-align: center;">
                            Earnings<br>
                            Experiment | Bonus
                        </th>
                    </thead>
                    <tbody>                        
                        <tr v-for="(s,index) in session_day_upcoming" v-bind:key="s.id">
                            <td>                                
                                <a v-bind:href='"/experimentSession/" + s.session_id' v-html="s.title">[[s.title]]</a>
                            </td>
                            <td  style="text-align: center;">                                                                
                                [[s.date]]
                                <div v-if="s.multiDay">(Multi-day)</div>                                    
                            </td>
                            <td  style="text-align: center;">     
                                <div v-if="s.bumped">
                                    Bumped | $[[s.show_up_fee]]
                                </div>
                                <div v-else>
                                    $[[s.earnings]] | $[[s.show_up_fee]]
                                </div>                             
                            </td>
                        </tr>                        
                    </tbody>
                    <tfoot v-if="session_day_upcoming.length === 0">
                        <tr>
                            <td>No upcoming experiments.</td>
                        </tr>
                    </tfoot>                                    
                </table>
                <br>
                <hr>
                <br>
                <!-- attended table -->
                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Experiments Attended</caption>

                    <thead>
                        <th width="35%">
                            Experiment
                        </th> 
                        <th width="30%" style="text-align: center;">
                            Date
                        </th>                                                      
                        <th width="35%" style="text-align: center;">
                            Earnings<br>
                            Experiment | Bonus
                        </th>
                    </thead>
                    <tbody>                        
                        <tr v-for="(s,index) in session_day_attended" v-bind:key="s.id">
                            <td>                                
                                <a v-bind:href='"/experimentSession/" + s.session_id' v-html="s.title">[[s.title]]</a>
                            </td>
                            <td  style="text-align: center;">                                                                
                                [[s.date]]
                                <div v-if="s.multiDay">(Multi-day)</div>                                    
                            </td>
                            <td  style="text-align: center;">     
                                <div v-if="s.bumped">
                                    Bumped | $[[s.show_up_fee]]
                                </div>
                                <div v-else>
                                  $[[s.earnings]] | $[[s.show_up_fee]]
                                </div>                             
                            </td>
                        </tr>                        
                    </tbody>
                    <tfoot v-if="session_day_attended.length === 0">
                        <tr>
                            <td>No experiments attended.</td>
                        </tr>
                    </tfoot>                                    
                </table>
                <br>     
                <hr>
                <br>           
                <!-- invitation table -->
                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Full Invitation List</caption>

                    <thead>
                        <th width="35%">
                            Experiment

                            <button id="showInvitations" type="button" class="btn btn-primary btn-sm" v-on:click ="showInvitations()">
                                <span v-html="showInvitationsText"></span>
                            </button> 
                        </th> 
                        <th width="30%" style="text-align: center;">
                            Date
                        </th>                                                      
                        <th width="35%" style="text-align: center;">
                            Status
                        </th>
                    </thead>
                    <tbody>                        
                        <tr v-for="(s,index) in invitations" v-bind:key="s.id">
                            <td>                                
                                <a v-bind:href='"/experimentSession/" + s.session_id' v-html="s.title">[[s.title]]</a>
                            </td>
                            <td  style="text-align: center;">                                                                
                                [[s.date]]
                                <div v-if="s.multiDay">(Multi-day)</div>                                    
                            </td>
                            <td  style="text-align: center;">  
                                <div v-if="s.noShow" style="color: red;">No Show</div>   
                                <div v-else-if="s.canceled">Canceled</div>
                                <div v-else-if="s.bumped">Bumped</div>
                                <div v-else-if="s.attended">Attended</div>
                                <div v-else-if="s.confirmed">Confirmed</div>                                                               
                            </td>
                        </tr>                        
                    </tbody>
                    <tfoot v-if="invitations.length === 0">
                        <tr>
                            <td>[[noInvitationsFoundText]]</td>
                        </tr>
                    </tfoot>                                    
                </table>
                <!-- traits table -->
                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Traits</caption>

                    <thead>
                        <th width="35%">
                            Name

                            <button id="showTraits" type="button" class="btn btn-primary btn-sm" v-on:click ="showTraits()">
                                <span v-html="showTraitsButtonText"></span>
                            </button> 
                        </th> 
                        <th width="30%" style="text-align: center;">
                            Date of Upload
                        </th>                                                      
                        <th width="35%" style="text-align: center;">
                            Value
                        </th>
                    </thead>
                    <tbody>                        
                        <tr v-for="(s,index) in subject_traits" v-bind:key="s.id">
                            <td>                                
                                [[s.name]]
                            </td>
                            <td  style="text-align: center;">                                                                
                                [[s.date]]                                
                            </td>
                            <td  style="text-align: center;">  
                                [[s.value]]                                                                
                            </td>
                        </tr>                        
                    </tbody>
                    <tfoot v-if="subject_traits.length === 0">
                        <tr>
                            <td>[[noTraitsFoundText]]</td>
                        </tr>
                    </tfoot>
                </table>
                {%endif%}
            </div>                    
        </div>                
    </div>
</div>    

<!-- make a note about the subject -->
<div class="modal" id="noteModalCenter" tabindex="-1" role="dialog" aria-labelledby="manuallyAddSubjects" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Make a note</h5>                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class = "col">                      
                        <div class="form-group">
                            <label for="noteText">Text</label>
                            <textarea class="form-control" v-model="noteText" id="noteText" rows="3" cols="100%"></textarea>
                          </div>
                    </div>
                </div>                              
            </div>
            <div class="modal-footer">                            
                <button type="button" class="btn btn-outline-success" v-on:click = "sendMakeNote()">
                    Save Note <i class="fas fa-sticky-note fa-xs"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}