{%extends "base.html"%}
{% load crispy_forms_tags %}
{% load humanize %}
{% load tz %}

{%block head%}
    <title>User Info</title>

    <script type="text/javascript">
       
    </script>
{%endblock head%}

{%block content%}
<div class="row justify-content-lg-center">
    <div class="col col-lg-10">
        <div class="card">                  
            <div class="card-header">
                Subject Information: {{u.last_name}}, {{u.first_name}}     
                {%if user.is_superuser%}
                <span class="float-right">
                    <a href="/admin/main/profile/{{u.profile.id}}/change">
                        Edit
                    </a>
                </span>
                {%endif%}                                                 
            </div>
            <div class="card-body">               
             
                <form id="userForm">                                            
                    <div class = "row">
                        <div class = "col"> 
                            <span class="float-right">Email:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{{u.email}}</span>
                        </div>
                        <div class = "col"> 
                            <span class="float-right">Email Confirmed:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{%if u.profile.emailConfirmed == "yes"%}Yes{%else%}<span style="color: red;"></span>No</span>{%endif%}</span>
                        </div>                
                    </div>
                    <div class = "row">
                        <div class = "col"> 
                            <span class="float-right">Major:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{{u.profile.major}}</span>
                        </div>
                        <div class = "col"> 
                            <span class="float-right">Gender:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{{u.profile.gender}}</span>
                        </div>               
                    </div>
                    <div class = "row">
                        <div class = "col"> 
                            <span class="float-right">Enrollment Status:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{{u.profile.subjectType}}</span>
                        </div>
                        <div class = "col"> 
                            <span class="float-right">Student Worker:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{%if u.profile.studentWorker%}Yes{%else%}No{%endif%}</span>
                        </div>               
                    </div>
                    <div class = "row">
                        <div class = "col"> 
                            <span class="float-right">Phone:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{{u.profile.phone}}</span>
                        </div>
                        <div class = "col"> 
                            <span class="float-right">Blackballed:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{%if u.profile.blackballed%}<span style="color: red;">Yes</span>{%else%}No{%endif%}</span>
                        </div>               
                    </div>
                    <div class = "row">
                        <div class = "col"> 
                            <span class="float-right">Chapman ID:</span>                            
                        </div>
                        <div class = "col"> 
                            <span class="float-left">{{u.profile.chapmanID}}</span>
                        </div>
                        <div class = "col"> 
                                                        
                        </div>
                        <div class = "col"> 
                            
                        </div>               
                    </div>
                </form>
                <br>

                <table class="table table-hover table-condensed">
                    <caption style="caption-side:top;text-align: center;">Experiments Attended</caption>

                    <thead>
                        <th width="35%">
                            Experiment
                        </th> 
                        <th width="30%" style="text-align: center;">
                            Date
                        </th>                                                      
                        <th width="35%" style="text-align: center;">
                            Earnings<br>
                            Show Up | Experiment
                        </th>
                    </thead>

                    {% for i in u.profile.sorted_session_day_list %}
                        {%if i.attended or i.bumped%}
                            <tr>
                                <td>                                
                                    <a href="/experimentSession/{{i.experiment_session_day.experiment_session.id}}">{{i.title}}</a>
                                </td>
                                <td  style="text-align: center;"> 
                                    {% localtime on %}                              
                                    {{i.date}}
                                    {% endlocaltime %}
                                </td>
                                <td  style="text-align: center;">     
                                    {%if i.bumped%}                           
                                        ${{i.show_up_fee | floatformat:2}} | Bumped
                                    {%else%}
                                        ${{i.show_up_fee | floatformat:2}} | ${{i.earnings | floatformat:2}}
                                    {%endif%}
                                </td>
                            </tr>
                        {%endif%}
                    {% empty %}
                    
                        <tr>
                            <td>
                                This user is not in any experiments
                            </td>
                        </tr>                                               
                    {% endfor %}

                </table>
                
            </div>                    
        </div>                
    </div>
</div>    
{%endblock content%}