{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}

<script type="text/javascript">            

    $(document).ready(function(){  
        {%include "staff/user_search_parameters/user_search_parameters.js"%}
    }); 
</script>   

<style>
    [v-cloak] {
    display: none;
    }
</style>

{%endblock head%}

{%block content%}    

<!-- modals -->
{%include "modals/editTraitsModal.html"%}
{%include "modals/updateTraitModal.html"%}

<div class="row justify-content-xl-center">
    <div class="col-md-6 mb-4">
        {%include "staff/user_search_parameters/user_search_parameters_card.html"%}
    </div>
    <div class="col-md-6 mb-4">
        {%include "staff/user_search_parameters/user_search_parameters_result_card.html"%}
    </div>
</div>

{%endblock content%}
