{% load crispy_forms_tags %}

<div class="card">
      
    <div class="card-header">
      Log In
    </div>

    <div class="card-body">

      <div>
        <form id="login_form">
          {% csrf_token %}        
          <div class="row">
            <div class = "col col-lg-8 offset-lg-2">  
              {{form.username|as_crispy_field}}          
            </div>            
          </div>  

          <div class="row">
            <div class = "col col-lg-8 offset-lg-2">
              {{form.password|as_crispy_field}}
            </div>
          </div>            
        </form>
      </div>

      <div class="row mt-2 mb-4" v-show="show_two_factor" v-cloak>
          <div class="col col-lg-8 offset-lg-2">
            <div class="form-group">
              <label for="idtwofactorcode">Six digit code from your authenticator app*</label>
              <input v-model="two_factor_code" 
                     maxlength="6"
                     class="form-control" 
                     id="idtwofactorcode" 
                     aria-describedby="sixdigitcode"
                     v-on:keyup.enter="login()">
            </div>
          </div>
      </div>

      <div class="row mt-2 mb-4" v-show="show_two_factor_setup" v-cloak>
          <div class="col col-lg-8 offset-lg-2">
            <p>Two factor authentication is required for this account. Please set up your authenticator app using the QR code below.</p>
            <span id="qrcode"></span>
            <br>
            Code for manual setup:<br> 
            [[two_factor_hash]]
          </div>
      </div>

      <div class="row mt-2">
          <div class="col col-lg-8 offset-lg-2">
              <button type="button" v-on:click='login()' class="btn btn-outline-primary">
                <span v-html ="loginButtonText"></span>
              </button> 
              <span class="ms-2 text-danger" v-html="loginErrorText">
              </span>
          </div>
      </div>
      
      <div class="row mt-2">
          <div class="col col-lg-8 offset-lg-2">
              <a href="{% url 'passwordReset' %}">Lost password?</a>
          </div>
      </div>
          
    </div>

    <div class="card-footer text-center">
      Need Help? <a href = 'mailto:{{labManager.email}}'>{{labManager.email}}</a>
    </div>

</div>