<!-- calander control -->
<div class="row mt-4 ml-4 mr-4 mb-2" v-cloak>
    <div class="col-md-4 text-md-left mb-2 mb-md-0">
        [[currentMonthString]]
        <span class="ml-2" v-if="working">
            <i class="fas fa-spinner fa-spin"></i>
        </span>
    </div>
    <div class="col-md-4 text-md-center mb-2 mb-md-0">
        <button class="btn btn-outline-primary btn-sm" 
                type="button" 
                v-bind:disabled="working"
                v-on:click="changeMonth('previous')">
            <<
        </button>
        <button class="btn btn-outline-primary btn-sm" 
                type="button" 
                v-bind:disabled="working"
                v-on:click="getMonth()">
            Current
        </button>
        <button class="btn btn-outline-primary btn-sm" 
                type="button" 
                v-bind:disabled="working"
                v-on:click="changeMonth('next')">
            >>
        </button>  
    </div>
    <div class="col-md-4 text-md-right">

        <div class="input-group input-group-sm w-auto float-md-right" v-bind:disabled="working">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary"
                      type="button"
                      v-on:click="jump_to_new_month()"
                      v-bind:disabled="working">Jump to</button>
            </div>
            <select class="custom-select" id="jump_to_month_id" v-model="jump_to_month" v-bind:disabled="working">
                {%for month in month_list%}
                    <option value="{{month}}">{{month.display}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<!-- calendar header -->
<div class="d-none d-md-block">
    <div class="row ml-4 mr-4 bg-light">
        <div class="col-md border rounded text-center">
            Sunday
        </div>
        <div class="col-md border rounded text-center">
            Monday
        </div>
        <div class="col-md border rounded text-center">
            Tuesday
        </div>
        <div class="col-md border rounded text-center">
            Wednesday
        </div>
        <div class="col-md border rounded text-center">
            Thursday
        </div>
        <div class="col-md border rounded text-center">
            Friday
        </div>
        <div class="col-md border rounded text-center">
            Saturday
        </div>    
    </div>
</div>

<!-- calendar body -->
<div class="row ml-4 mr-4 no-gutters" v-for="(w,indexW) in calendar" v-bind:key="w.id">
    <div class="col-md border rounded no-gutters cell" v-for="(d,indexD) in w" v-bind:key="d.id">

        <!-- calendar cell -->
        <div class="row" v-bind:id="'id_' + d.day + '_' + d.month + '_' + d.year">

            <div class = "col cell_content text-right">
                <div v-if="d.day === todayDay && d.month === todayMonth  && d.year === todayYear">
                    <button class="cell_button_today" v-on:click="showDayModal(indexW,indexD,d.dayString)">    
                        <span class="d-md-none">[[d.weekday]] </span>                    
                        [[d.day]]
                    </button>
                </div>
                <div v-else>
                    <button class="cell_button" v-on:click="showDayModal(indexW,indexD,d.dayString)">
                        <span class="d-md-none">[[d.weekday]] </span>
                        [[d.day]]
                    </button>
                </div>                                    
            </div>             

        </div>

        <!-- content -->
        <div class="row" v-for="(s,index) in d.sessions" v-bind:key="s.id">
            <div class = "col" style="font-size: 13px;">

                <div class="pl-1 pr-1">
                    <div v-if = "s.name===''">
                    <!-- spacer -->
                        <span>&nbsp</span>
                    </div>
                    <div v-else>
                        <span v-if="s.enable_time">[[s.startTime]]-[[s.endTime]]</span>
                        <span v-else>Anytime</span>
                        <span>&nbsp<a v-bind:href="'/experimentSessionRun/' + s.id +'/'" v-bind:class="{is_canceled:s.canceled }">[[s.name]]</a></span>  
                    </div>
                </div>
                
            </div>
            
        <div class="row">      
    </div> 
</div>