{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}
<meta name="description" content="Login to the Economic Science Institute's research subject recruiter.">

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  "use strict;"
  document.addEventListener("DOMContentLoaded", function(){

    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    axios.defaults.xsrfCookieName = "csrftoken";

    let app = Vue.createApp({
    
      delimiters: ['[[', ']]'],
              
      data(){return {
        loginButtonText : 'Submit <i class="fas fa-sign-in-alt"></i>',
        loginErrorText : "",
        form_ids : {{form_ids|safe}},     
        show_two_factor : false,
        two_factor_code : "",  
        show_two_factor_setup : false,    
        two_factor_uri : "",       
        two_factor_hash : "",   
        qr_code : null,     
        username:null,
        password:null,
      }},

      methods:{
        //get current, last or next month

        login: function login(){
          app.loginButtonText = '<i class="fas fa-spinner fa-spin"></i>';
          app.loginErrorText = "";

          axios.post('/accounts/login/', {
                action :"login",
                formData : {
                  username : app.username,
                  password : app.password,
                }, 
                two_factor_code : app.two_factor_code,
                                            
            })
            .then(function (response) {     
                
              status=response.data.status;                               

              app.clearMainFormErrors();

              if(status == "validation")
              {              
                //form validation error           
                app.displayErrors(response.data.errors);
              }
              else if(status == "error")
              {
                app.loginErrorText = response.data.message;
              }
              else if(status == "two_factor")
              {
                app.show_two_factor = true;

                Vue.nextTick(() => {
                  document.getElementById("idtwofactorcode").focus();
                });
                
              }
              else if(status == "two_factor_setup")
              {
                app.show_two_factor = true;
                app.show_two_factor_setup = true;
                app.two_factor_uri = response.data.two_factor_uri;
                app.two_factor_hash = response.data.two_factor_hash;

                if(app.qr_code != null)
                {
                  app.qr_code.clear();
                  app.qr_code.makeCode(app.two_factor_uri);
                }
                else
                {
                  app.qr_code = new QRCode(document.getElementById("qrcode"), app.two_factor_uri);
                }
                
              }
              else
              {
                window.location = response.data.redirect_path;
              }

              app.loginButtonText = 'Submit <i class="fas fa-sign-in-alt"></i>';

            })
            .catch(function (error) {
                console.log(error);                            
          });                        
        },

        clearMainFormErrors:function clearMainFormErrors(){

          s = app.form_ids;                    
          for(let i in s)
          {
            let e = document.getElementById("id_errors_" + s[i]);
            if(e) e.remove();
          }

        },
        
        //display form errors
        displayErrors: function displayErrors(errors){
            for(let e in errors)
            {
                let str='<span id=id_errors_'+ e +' class="text-danger">';
                
                for(let i in errors[e])
                {
                    str +=errors[e][i] + '<br>';
                }

                str+='</span>';

                document.getElementById("div_id_" + e).insertAdjacentHTML('beforeend', str);

                 //scroll to the last error
                let elmnt =  document.getElementById("div_id_" + e);
                if(elmnt) elmnt.scrollIntoView(); 
            }
        },  
      },            

      mounted(){
                                  
      },
    }).mount('#app');
});

</script>

<style>
  /* #qrcode {
    width:160px;
    height:160px;
    margin-top:15px;
  } */
</style>
{%endblock head%}

{% block content %}

{%for i in fpn_list%}
<!-- notification cards -->
<div class="row justify-content-center mb-4" v-cloak> 
  <div class="col col-lg-6">

    <div class="card mx-auto">
      <div class="card-header">
        {{i.subject_text}}
      </div>

      <div class="card-body">
        {{i.body_text | safe}}
      </div>
      
    </div>
  </div>

</div>
{%endfor%}

<!-- login card -->
<div class="row justify-content-center mb-4" v-cloak> 
  <div class="col col-lg-6">

    <div class="card">
      
      <div class="card-header">
        Log In
      </div>

      <div class="card-body">

        <div>
          <form id="login_form">
            {% csrf_token %}        
            <div class="row">
              <div class = "col col-lg-8 offset-lg-2">  
                {{form.username|as_crispy_field}}          
              </div>            
            </div>  

            <div class="row">
              <div class = "col col-lg-8 offset-lg-2">
                {{form.password|as_crispy_field}}
              </div>
            </div>            
          </form>
        </div>

        <div class="row mt-2 mb-4" v-show="show_two_factor" v-cloak>
            <div class="col col-lg-8 offset-lg-2">
              <div class="form-group">
                <label for="idtwofactorcode">Six digit code from your authenticator app*</label>
                <input v-model="two_factor_code" 
                       maxlength="6"
                       class="form-control" 
                       id="idtwofactorcode" 
                       aria-describedby="sixdigitcode"
                       v-on:keyup.enter="login()">
              </div>
            </div>
        </div>

        <div class="row mt-2 mb-4" v-show="show_two_factor_setup" v-cloak>
            <div class="col col-lg-8 offset-lg-2">
              <p>Two factor authentication is required for this account. Please set up your authenticator app using the QR code below.</p>
              <span id="qrcode"></span>
              <br>
              Code for manual setup:<br> 
              [[two_factor_hash]]
            </div>
        </div>

        <div class="row mt-2">
            <div class="col col-lg-8 offset-lg-2">
                <button type="button" v-on:click='login()' class="btn btn-outline-primary">
                  <span v-html ="loginButtonText"></span>
                </button> 
                <span class="ms-2 text-danger" v-html="loginErrorText">
                </span>
            </div>
        </div>
        
        <div class="row mt-2">
            <div class="col col-lg-8 offset-lg-2">
                <a href="{% url 'passwordReset' %}">Lost password?</a>
            </div>
        </div>
            
      </div>

      <div class="card-footer text-center">
        Need Help? <a href = 'mailto:{{labManager.email}}'>{{labManager.email}}</a>
      </div>

    </div>
      
  </div>

</div>

{% endblock %}