{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}
<meta name="description" content="Login to the Economic Science Institute's research subject recruiter.">

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    {%include "registration/login/login.js"%} 
  });
</script>

<style>

</style>
{%endblock head%}

{% block content %}

{%for i in fpn_list%}
<!-- notification cards -->
<div class="row justify-content-center mb-4" v-cloak> 
  <div class="col col-lg-6">
    {%include "registration/login/notification_card.html"%} 
  </div>
</div>
{%endfor%}

<!-- login card -->
<div class="row justify-content-center mb-4" v-cloak> 
  <div class="col col-lg-6">
    {%include "registration/login/login_card.html"%}
  </div>
</div>

{% endblock %}