{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}
<script>
  document.addEventListener("DOMContentLoaded", function(){  
    {%include "registration/password_reset_change/password_reset_change.js"%} 
  });

</script>
{%endblock head%}

{% block content %}
    <div class="row justify-content-lg-center">
        <div class="col col-lg-6">
          {%include "registration/password_reset_change/password_reset_change_card.html"%} 
        </div>
      </div>
{% endblock %}