{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}
<meta name="description" content="Economic Science Institute's password reset.">

<script>
 
  document.addEventListener("DOMContentLoaded", function(){  
    {%include "registration/password_reset/password_reset.js"%} 
  });

</script>
{%endblock head%}

{% block content %} 
  <div class="row justify-content-lg-center">
    <div class="col col-lg-6">
      {%include "registration/password_reset/password_reset_card.html"%} 
    </div>
  </div>
{% endblock %}