{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}
<meta name="description" content="Economic Science Institute's password reset.">

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){  
    
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    axios.defaults.xsrfCookieName = "csrftoken";

    var app = Vue.createApp({
    
      delimiters: ["[[", "]]"],
    
      data() {return{
        buttonText : 'Send <i class="fas fa-envelope"></i>',
        messageText : "",
        form_ids : {{form_ids|safe}},     
        username:null,                    
      }},

      methods:{
        //get current, last or next month

        send_reset:function(){
          app.buttonText = '<i class="fas fa-spinner fa-spin"></i>';
          app.messageText = "";

          axios.post('/accounts/passwordReset/', {
                  action :"send_reset",
                  formData : {username : app.username,}, 
                                              
              })
              .then(function (response) {     
                  
                status=response.data.status;                               

                app.clearMainFormErrors();

                if(status == "validation")
                {              
                  //form validation error           
                  app.displayErrors(response.data.errors);
                }
                else if(status == "error")
                {
                  app.messageText = response.data.message;
                }
                else
                {
                  app.messageText = "Message sent to your email."
                }

                app.buttonText = 'Send <i class="fas fa-envelope"></i>';

              })
              .catch(function (error) {
                  console.log(error);                            
              });                        
        },

        clearMainFormErrors:function(){

          s = app.form_ids;                    
          for(var i in s)
          {
            let e = document.getElementById("id_errors_" + s[i]);
            if(e) e.remove();
          }

        },
      
        //display form errors
        displayErrors: function displayErrors(errors){
            for(let e in errors)
            {
                let str='<span id=id_errors_'+ e +' class="text-danger">';
                
                for(let i in errors[e])
                {
                    str +=errors[e][i] + '<br>';
                }

                str+='</span>';

                document.getElementById("div_id_" + e).insertAdjacentHTML('beforeend', str);
            }
        }, 
      },             

      mounted(){
                                  
      },
    }).mount('#app');
  });

</script>
{%endblock head%}

{% block content %} 
  <div class="row justify-content-lg-center">
    <div class="col col-lg-6">
      
      <div class="card" v-cloak>
        <div class="card-header">
          Reset Password
        </div>
  
        <div class="card-body">         

          <form id="password_reset_form" v-on:submit.prevent="send_reset()">
            {% csrf_token %}        
            <div class="row">
              <div class = "col col-lg-8 offset-lg-2">  
                {{ form.username|as_crispy_field }}            
              </div>            
            </div>  
          </form>

          <div class="row">
              <div class="col col-lg-8 offset-lg-2">
                  <button v-on:click ="send_reset()" type="button" class="btn btn-outline-primary">
                    <span v-html = "buttonText"></span>
                  </button> 
                  <span v-html = "messageText" style="float: right;color: red;"></span>
              </div>
              
          </div>           
           
          
        </div>

        <div class="card-footer" style="text-align: center;">
          Need Help? <a href = 'mailto:{{labManager.email}}'>{{labManager.email}}</a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}