{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(){                         
          axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
          axios.defaults.xsrfCookieName = "csrftoken";

          var app = Vue.createApp({
            delimiters: ['[[', ']]'],

            data(){return {
              baseURL:'/profileVerifyResend/',  
              emailVerified:{%if emailVerified%}true{%else%}false{%endif%},
              failed:{%if failed%}true{%else%}false{%endif%},
              status:"update",  
              adminEmail : "",
              admainName : "",
              buttonText : 'Click to Verify <i class="fas fa-sign-in-alt"></i>',
            }},

            methods:{
                //get list of users based on search
                verifyEmail: function verifyEmail(){
                    
                  app.buttonText = '<i class="fas fa-spinner fa-spin"></i>';

                  axios.post('/profileVerify/{{token}}/', {                            
                      action:"verifyEmail",                             
                  })
                  .then(function (response) {                         
                    app.emailVerified = response.data.emailVerified;
                    app.failed = response.data.failed;
                    app.buttonText ='Click to Verify <i class="fas fa-sign-in-alt"></i>';
                  })
                  .catch(function (error) {
                      console.log(error);                               
                  }); 
                }, 
              
            },
            
            mounted(){
                
            },
          }).mount('#app');
        });
    </script>

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
{%endblock head%}

{% block content %}

<div class="row justify-content-md-center" v-cloak>
  <div class="col col-lg-6">
    <div class="card">
      <div class="card-header">
        Verify Your Email Address
      </div>

      <div class="card-body">
        <div v-if="failed">
          <div class="row">
            <div class = "col text-center">  
                          
                  The verification link no longer works.<br>
                  <a href="{% url 'profileVerifyResend'%}">Create a new one</a>
                     
            </div>            
          </div>
        </div>
        <div v-else-if="emailVerified">
          <div class="row">
            <div class = "col text-center">             
              Email verified.
            </div>            
          </div>
          <div class="row">
            <div class = "col text-center">             
              You are now eligible to be invited to experiments.
            </div>            
          </div>
          <div class="row">
            <div class = "col text-center"> 
              Please take a moment to confirm your profile is correct : <a href="{% url 'profile'%}">View Profile</a>
            </div>
          </div>
        </div>
        <div v-else>
                      
            <div class="row">
                <div class="col text-center">

                    <button type="button" v-on:click="verifyEmail()" class="btn btn-outline-primary">
                       <span v-html="buttonText"></span>
                    </button>
  
                </div>
            </div>

        </div>

      </div>      
    </div>
  </div>
</div>

{% endblock %}