{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){  
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    axios.defaults.xsrfCookieName = "csrftoken";

    var app = Vue.createApp({
    
      delimiters: ['[[', ']]'],

      data() {return{
        buttonText : 'Update <i class="fas fa-sign-in-alt"></i>',
        form_ids : {{form_ids|safe}},    
        status: "update", 
        emailVerificationRequired: false,      
        profile:{{user.profile.json_for_profile_update|safe}},            
      }},

      methods:{
      //get current, last or next month

      update:function(){

        app.buttonText = '<i class="fas fa-spinner fa-spin"></i>';
        
        axios.post('/accounts/profile/', {
                action :"update",
                formData : app.profile,                              
            })
            .then(function (response) {     
                
              status = response.data.status;                               

              app.clearMainFormErrors();

              if(status == "error")
              {              
                //form validation error           
                app.displayErrors(response.data.errors);
              }
              else
              {
                app.status = "done";
                app.emailVerificationRequired = response.data.email_verification_required;
              }                        

              app.buttonText = 'Update <i class="fas fa-sign-in-alt"></i>';

            })
            .catch(function (error) {
                console.log(error);                            
            });                        
        },

        clearMainFormErrors:function(){

          s = app.form_ids;                    
          for(var i in s)
          {
            let e = document.getElementById("id_errors_" + s[i]);
            if(e) e.remove();
          }

        },
        
        //display form errors
        displayErrors: function displayErrors(errors){
            for(let e in errors)
            {
                let str='<span id=id_errors_'+ e +' class="text-danger">';
                
                for(let i in errors[e])
                {
                    str +=errors[e][i] + '<br>';
                }

                str+='</span>';

                document.getElementById("div_id_" + e).insertAdjacentHTML('beforeend', str);

                //scroll to the last error
                var elmnt =  document.getElementById("div_id_" + e);
                if(elmnt) elmnt.scrollIntoView(); 
            }
        },

      },            

      mounted(){
                                  
      },
    }).mount('#app');
  });

</script>

<style>
 
</style>
{%endblock head%}

{% block content %}

<div class="row justify-content-md-center mb-4" v-cloak>
  <div class="col col-lg-6">
    <div class="card">
      <div class="card-header">
        Account Information
      </div>

      <div class="card-body">

        <div v-if = 'status === "update"'>     

          <form autocomplete="off" id="updateForm">
            {% csrf_token %}            
            
            {% for i in form %}
              <div class="row">
                <div class = "col col-md-10 offset-md-1">  
                  {{ i|as_crispy_field }}         
                </div>            
              </div> 
            {% endfor %}  
          </form>

          <div class="row">
            <div class="col col-md-10 offset-md-1">
                <button class="btn btn-outline-primary" v-on:click="update()" title="Update your profile">
                  <span v-html="buttonText"></span>
                </button>
            </div>
          </div>           
        

        </div>
        <div v-else>

          <div class="row">
            <div class = "col col-md-10 offset-md-1 text-center">  
                              
                Profile updated.<br>
                <div v-show='emailVerificationRequired'>
                  Your email address was changed, check your inbox for a confirmation link.<br>
                </div>
                <a href="{% url 'MainHome'%}">Return</a>
                       
            </div>            
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

{% endblock %}