{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}

    <script>
      "use strict;"
      
        document.addEventListener("DOMContentLoaded", function(){                         
          axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
          axios.defaults.xsrfCookieName = "csrftoken";

          let app = Vue.createApp({
            delimiters: ['[[', ']]'],
      
            data(){return {
              baseURL:'/profileVerifyResend/',  
              emailVerified:true, 
              status:"update",  
              adminEmail : "",
              admainName : "",
              buttonText : 'Send Email Verification <i class="fas fa-envelope"></i>',
            }},

            methods:{
              //get list of users based on search
              sendVerificationEmail: function sendVerificationEmail(){
                  
                  app.buttonText = '<i class="fas fa-spinner fa-spin"></i>';

                  axios.post('/profileVerifyResend/', {                            
                      action:"sendVerificationEmail",                             
                  })
                  .then(function (response) {                         
                    app.status = response.data.status;
                    app.buttonText ='Send Email Verification <i class="fas fa-envelope"></i>';
                  })
                  .catch(function (error) {
                      console.log(error);                               
                  }); 
              }, 

              getUser:function getUser(){
                axios.post('/profileVerifyResend/', {                            
                      action:"getUser",                                                            
                  })
                  .then(function (response) {                         
                      app.emailVerified = response.data.emailVerified;
                      app.adminEmail = response.data.adminEmail;
                      app.admainName = response.data.admainName;
                      // app.searchButtonText = 'Search <i class="fas fa-search"></i>';
                  })
                  .catch(function (error) {
                      console.log(error);                               
                  }); 
              }
              
            },
            
            mounted(){
                Vue.nextTick(()=>{
                  app.getUser();
                });
            },
          }).mount('#app');
        });
    </script>

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
{%endblock head%}

{% block content %}

<div class="row justify-content-lg-center">
  <div class="col col-lg-6">
    <div class="card" v-cloak >
      <div class="card-header">
        Resend Verification Email
      </div>

      <div class="card-body" >

        <div v-if="status === 'update'"> 
            <div class="row" v-if="emailVerified === false">
              <div class="col col-lg-8 offset-lg-2 text-center">
                  Your email account is not verified.<br>
                  Your email can be edited in your <a href="/profile/">Profile</a>.
              </div>
            </div>                         
            <div class="row mt-2">
              <div class="col col-lg-8 offset-lg-2 text-center">
                  <button type="submit" class="btn btn-outline-primary" v-on:click="sendVerificationEmail()">
                    <span v-html="buttonText"></span>
                  </button>
              </div>
            </div> 
        </div>  
        <div v-if="status === 'done'">
          <div class="row">
              <div class = "col text-center">              
                  Email Sent.         
              </div>            
          </div>
        </div>
        <div v-if="status === 'fail'">        
          <div class="row">
              <div class = "col text-center">  
                There was an error sending the email please contact<br>
                [[admainName]] at <a v-bind:href= "'mailto:' + adminEmail">[[adminEmail]]</a>     
              </div>            
          </div>
        </div>

      </div>      
    </div>
  </div>
</div>

{% endblock %}