{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}
<meta name="description" content="Economic Science Institute's account creation.">

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){  
      axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
      axios.defaults.xsrfCookieName = "csrftoken";

      var app = Vue.createApp({
      
        delimiters: ['[[', ']]'],

        data(){return {
          buttonText : 'Submit <i class="fas fa-sign-in-alt"></i>',
          humanButtonText : 'Press if human <i class="far fa-user-circle"></i>',
          loginErrorText : "",
          form_ids : {{form_ids|safe}},    
          status:"update", 
          human:false,        
          profile:{
                    {% for i in form_ids %}{{i}}:null,{% endfor %}        
          },      
          
          //modals
          helpModal: null,
        }},

        methods:{
          //get current, last or next month

          create:function(){
            if(!app.human)
            {
              alert("Please confirm you are a person.");
              return;
            }

            app.buttonText = '<i class="fas fa-spinner fa-spin"></i>';
            app.loginErrorText = "";

            axios.post('/profileCreate/', {
                    action :"create",
                    formData : app.profile, 
                                                
                })
                .then(function (response) {     
                    
                  status=response.data.status;                               

                  app.clearMainFormErrors();

                  if(status == "error")
                  {              
                    //form validation error           
                    app.displayErrors(response.data.errors);
                  }
                  else
                  {
                    app.status="done";
                  }                        

                  app.buttonText = 'Submit <i class="fas fa-sign-in-alt"></i>';

                })
                .catch(function (error) {
                    console.log(error);                            
                });                        
            },

          showHelp:function showHelp(){                        
            app.helpModal.show();
          },

          humanChecker:function(){
            app.humanButtonText = 'Press if human <i class="fas fa-spinner fa-spin"></i>';
            setTimeout(app.humanConfirm, 1000); 
          },

          humanConfirm:function(){
            app.humanButtonText = 'Thanks human <i class="fas fa-user-check"></i>';
            app.human=true;
          },

          clearMainFormErrors:function(){

            s = app.form_ids;                    
            for(var i in s)
            {
              let e = document.getElementById("id_errors_" + s[i]);
              if(e) e.remove();
            }

          },
          
          //display form errors
          displayErrors: function displayErrors(errors){
              for(let e in errors)
              {
                  let str='<span id=id_errors_'+ e +' class="text-danger">';
                  
                  for(let i in errors[e])
                  {
                      str +=errors[e][i] + '<br>';
                  }

                  str+='</span>';
                  document.getElementById("div_id_" + e).insertAdjacentHTML('beforeend', str);

                  document.getElementById("div_id_" + e).scrollIntoView();
              }
          },

            
        },            

        mounted(){
          Vue.nextTick(() => {
            this.helpModal = new bootstrap.Modal(document.getElementById('helpModal'), {keyboard: false});                     
          });                   
        },
      }).mount('#app');
  });

</script>

<style>

</style>
{%endblock head%}

{% block content %}

<div class="row justify-content-lg-center">
  <div class="col col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class = "col">
            Sign up
          </div>        
          <div class="col" style="text-align: right;">
            <button type="button" class="btn btn-link" v-on:click="showHelp()" data-placement="bottom" title="Show Help Doc">
                <i class="far fa-question-circle"></i> 
            </button>
          </div>
        </div>
      </div>

      <div class="card-body" v-cloak>

        <div v-if="status === 'update'">   

          <form id="createForm">
            {% csrf_token %}
            
            {% for i in form %}
              <div class="row">
                <div class = "col col-lg-10 offset-lg-1">  
                  {{ i|as_crispy_field }}         
                </div>            
              </div> 
            {% endfor %}         
                  
          </form>

          <!-- footer -->
          <div class="row justify-content-center">
            <div class="col-lg-auto">

              <span class="">
                <button type="button" class="btn btn-outline-primary" v-on:click="humanChecker()" title="Yes to humans, no to bots"><span v-html="humanButtonText"></span></button>
              </span>                             
                
            </div>

            <div class="col-lg-auto mt-2 mt-lg-2">
                <b>I certify that I am 18 years or older.</b>
            </div>

            <div class="col-lg-auto  mt-2 mt-lg-0">
              <button type="button" class="btn btn-outline-primary me-2" v-on:click="create()" title="Create an account">
                <span v-html="buttonText"></span>
              </button>
            </div>

          </div>

        </div>
        <div v-else>

          <div class="row">
            <div class = "col col-lg-12 text-center">  
                              
                Your profile has been created, check your email for a confirmation link.<br>
                <a href="{% url 'profileVerifyResend' %}">Send link again</a>                
                       
            </div>            
          </div>

        </div>
      </div>      
    </div>
  </div>
</div>

{% endblock %}