{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}

<script>
  document.addEventListener("DOMContentLoaded", function(){                         
    {%include "registration/profile_verify/profile_verify.js"%}
  });
</script>

<style>
  [v-cloak] {
    display: none;
  }
</style>
{%endblock head%}

{% block content %}

<div class="row justify-content-md-center" v-cloak>
  <div class="col col-lg-6">
    {%include "registration/profile_verify/profile_verify_card.html"%}
  </div>
</div>

{% endblock %}