<div class="card" v-cloak>                  
    <div class="card-header">
        PayPal Recruiter Status                                                 
    </div>
    <div class="card-body">

        <div class="row justify-content-center">
            <div class="col-md-3">
            </div> 
            <div class="col-md-3" >
                <div class="form-group">
                    <label for="startDate_recruiter_id">From</label>
                    <input type="date" id="startDate_recruiter_id" class="form-control" v-model="startDateRecruiter">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="endDate_recruiter_id">To</label>
                    <input type="date" id="endDate_recruiter_id" class="form-control" v-model="endDateRecruiter">
                </div>                        
            </div>    
            <div class="col-md-3">
            </div>               
        </div>

        <div class = "row justify-content-center">
            <div class="col-md" style="text-align: center;">
                <button type="button" v-on:click="getHistoryRecruiter()" class="btn btn-outline-primary">
                    <span v-html="searchButtonText"></span>
                 </button>
            </div>
        </div>

        
        <div class="row justify-content-center mt-4">
            <div class="col-md" style="text-align: center;color: red;">
                <span v-show = "errorMessageRecruiter != ''" >[[errorMessageRecruiter]]</span>
            </div>
        </div>

        <!-- search results table -->
        <div class="row justify-content-center mt-4" v-show="historyRecruiter.length>0">
            <div class="col-md">
                <table class="table table-hover table-condensed table-responsive-md">                            

                    <caption style="caption-side:top;text-align: center;">Payouts ([[historyRecruiter.length]])</caption>

                    <thead>
                        <th scope="col w-auto">
                            Session
                        </th> 
                        <th scope="col w-auto">
                            Status
                        </th>
                        <th scope="col w-auto">
                            Payout Total
                        </th>
                        <th scope="col w-auto">
                            Fee Total
                        </th> 
                        <th scope="col w-auto">
                            PayPal ID
                        </th>
                        <th scope="col w-auto">
                            Date
                        </th>
                        <th scope="col w-auto">
                            Holds
                        </th>                                                                                                  
                    </thead>

                    <tbody id="userListRecuiter">                                                  
                        <tr v-for="(h,index) in historyRecruiter" v-bind:key="h.id">                                                                          
                            <td class="w-auto"> 
                               <a v-bind:href="'/experimentSessionRun/'+h.id">[[h.title]]</a>                                      
                            </td>
                            <td class="w-auto">
                               <span v-if="h.paypal_response">
                                    [[h.paypal_response.batch_status]] 
                               </span>               
                               <span v-else style="color: red;font-weight:bold">
                                    Status update failed
                               </span>                         
                                                                  
                            </td>
                            <td class="w-auto">                                       
                                $[[h.realized_totals.realized_payouts]]                                    
                             </td>
                             <td class="w-auto">                                       
                                $[[h.realized_totals.realized_fees]]                                    
                             </td>
                            <td class="w-auto"> 
                                <span v-if="h.paypal_response">
                                    <a v-bind:href="'https://www.paypal.com/activity/masspay/MPA-'+h.paypal_response.payout_batch_id" 
                                       target="_blank">
                                       [[h.paypal_response.payout_batch_id]]
                                    </a> 
                                </span>
                                <span v-else style="color: red;font-weight:bold">
                                    Status update failed
                               </span>                                     
                             </td>  
                            <td class="w-auto">  
                               [[h.date]]
                            </td>
                            <td class="w-auto">  
                                <span v-if="h.paypal_response">
                                    <div v-for="(i, index2) in h.hold_list" v-bind:key="i.user__id">
                                        <div class="row">
                                            <div class="col w-auto text-right">
                                                <a v-bind:href="'/userInfo/'+i.user__id">
                                                   [[i.user__last_name]], [[i.user__first_name]]                                                    
                                                </a>
                                            </div>
                                            <div class="col w-auto text-left">
                                                <a v-bind:href="'https://www.paypal.com/activity/payment/'+i.paypal_response.transaction_id" 
                                                   v-bind:title="i.paypal_response.errors.message"
                                                   target="_blank">
                                                    [[i.paypal_response.transaction_status]]
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <span v-else style="color: red;font-weight:bold">
                                    Status update failed
                               </span>

                            </td>                                                                                    
                        </tr>                                                    
                    </tbody>
                    
                </table>  
            </div>

        </div>         

    </div>                    
</div>