{% load crispy_forms_tags %}

<div class="card" v-cloak >
    <div class="card-header">
      Resend Verification Email
    </div>

    <div class="card-body" >

      <div v-if="status === 'update'"> 
          <div class="row" v-if="emailVerified === false">
            <div class="col col-lg-8 offset-lg-2 text-center">
                Your email account is not verified.<br>
                Your email can be edited in your <a href="/profile/">Profile</a>.
            </div>
          </div>                         
          <div class="row mt-2">
            <div class="col col-lg-8 offset-lg-2 text-center">
                <button type="submit" class="btn btn-outline-primary" v-on:click="sendVerificationEmail()">
                  <span v-html="buttonText"></span>
                </button>
            </div>
          </div> 
      </div>  
      <div v-if="status === 'done'">
        <div class="row">
            <div class = "col text-center">              
                Email Sent.         
            </div>            
        </div>
      </div>
      <div v-if="status === 'fail'">        
        <div class="row">
            <div class = "col text-center">  
              There was an error sending the email please contact<br>
              [[admainName]] at <a v-bind:href= "'mailto:' + adminEmail">[[adminEmail]]</a>     
            </div>            
        </div>
      </div>

    </div>      
</div>