{% load crispy_forms_tags %}
<!-- setup modal -->  
<div class="modal" id="calendarDayModal" tabindex="-1" role="dialog" aria-labelledby="calendarDayModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">[[displayDay.dayString]]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                
            </button>
            </div>
            <div class="modal-body">                
                <div class="row" v-for="(l,index) in displayDay.sessionLocations" v-bind:key="l.id">                    
                    <div v-if="l.sessions.length > 0" class="col">
                        <div class="row mt-2">
                            <div class="col fw-bold">
                                [[l.location]]
                            </div>
                        </div>
                        <div class="row mb-4 mb-md-0" v-for="(s,index) in l.sessions" v-bind:key="s.id">
                            <div class="col-md-4" v-bind:class="{is_canceled:s.canceled }">
                                <div v-if = "s.enable_time">
                                    [[s.startTime]]-[[s.endTime]] [[s.name]]
                                </div>
                                <div v-else>
                                    Anytime [[s.name]]
                                </div>
                                                                
                            </div>
                            <div class="col-md text-md-center">
                                <a :href="'/experimentSessionRun/' + s.id + '/'" >Run <i class='fas fa-running fa-sm'></i></a>
                            </div>
                            <div class="col-md text-md-center">
                                <a :href="'/experimentSession/' + s.session_id + '/'" >Session <i class='far fa-edit fa-sm'></i></a>
                            </div>
                            <div class="col-md text-md-center">
                                <a :href="'/experiment/' + s.experiment_id + '/'" >Experiment <i class='fas fa-flask'></i></a>
                            </div>
                            <div class="col-md text-md-center">
                                [[s.manager]]
                            </div>
                        </div>
                    </div>
                </div>  
                
                <!-- no session today -->
                <div class="row" v-if="displayDay.no_experiments">                    
                    <div class="col">
                        No experiments on this day.
                    </div>                   
                </div>
            </div>
            <div class="modal-footer">                
            
            </div>
        </div>
    </div>
</div>