{% load crispy_forms_tags %}
<!-- setup modal -->  
<div class="modal" id="editAllowListModal" tabindex="-1" role="dialog" aria-labelledby="editAllowListModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="">Upload Allowed List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
           
            <div class="modal-body">    

                <div class="row">
                    <div class = "col">
                        <div class="form-group">
                            <label for="id_add_to_allow_list">
                                Recruiter IDs (tab or comma delimited)
                            </label>

                            <textarea id = "id_add_to_allow_list"  
                                    class = "form-control" 
                                    v-model = "add_to_allow_list" 
                                    rows="15">                                  
                            </textarea>  
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center text-danger">
                        [[allow_list_error]]
                    </div>                    
                </div>
                <div class="row">
                    <div class="col" v-if="recruitment_params.allowed_list_users.length>0">
                        <span v-for="(p, index) in recruitment_params.allowed_list_users" 
                              v-bind:key="p.id">
                            <a  v-bind:href='"/userInfo/" + p.id' target="_blank">
                                [[p.last_name]], [[p.first_name]]
                            </a>
                            <span v-if="index<recruitment_params.allowed_list_users.length-1">,&nbsp;</span>
                        </span>
                    </div>
                    <div class="col" v-else>
                        All users allowed.
                    </div>
                </div>
                                                           
            </div>
            <div class="modal-footer">  
               
                <button class="btn btn-outline-danger" 
                        type="button" 
                        v-on:click = "sendClearAllowList()"
                        v-bind:disabled = "working">
                    Clear <i class="fas fa-eraser"></i>
                </button>

                <button class="btn btn-outline-success" 
                        type="button" 
                        v-on:click = "sendAddToAllowList()"
                        v-bind:disabled = "working">
                    Add <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>