
{% load crispy_forms_tags %}
<!-- setup subject modal -->
<div class="modal" id="editSubjectModal" tabindex="-1" role="dialog" aria-labelledby="editSubjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">
                    <form id="EditSubjectForm">
                        <!-- setup parameters -->
                        {% for i in edit_subject_form %}
                            <div class="row">
                                <div class = "col col-md-10 offset-md-1">  
                                    {{ i|as_crispy_field }}         
                                </div>            
                            </div> 
                        {% endfor %}                                             
                    </form>                                          
                </div>
            <div class="modal-footer">                
                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "sendEditSubject()">
                    Update <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>