{% load crispy_forms_tags %}
<!-- setup modal -->  
<div class="modal" id="editTraitsModal" tabindex="-1" role="dialog" aria-labelledby="editTraitsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
           
            <div class="modal-body">    
                <table class="table table-hover table-condensed table-responsive-xl">
                    <thead>
                        <th>
                            Trait                             
                        </th>
                        <th class="text-center text-nowrap">
                            Mode
                        </th>
                        <th class="text-center text-nowrap">
                            Min Value 
                        </th>
                        <th class="text-center text-nowrap">
                            Max Value
                        </th>                         
                        <th class="text-center text-nowrap">
                            Control
                        </th>
                    </thead>           
                    <tbody id="subjectList">                                                  
                        <tr v-for="(t,index) in recruitment_params.trait_constraints" v-bind:key="t.id">
                            <td> 
                                <span v-html="t.trait_name"></span>                                      
                            </td>
                            <td class="text-center text-nowrap"> 
                                <span v-if="t.include_if_in_range">Include</span>
                                <span v-else>Exclude</span>                                      
                            </td>
                            <td class="text-center text-nowrap"> 
                                <span v-html="t.min_value"></span>                                      
                            </td>
                            <td class="text-center text-nowrap"> 
                                <span v-html="t.max_value"></span>                                      
                            </td>
                            <td class="text-center text-nowrap"> 
                                <button v-bind:id="'updateTrait' + t.id" type="button" class="btn btn-outline-primary btn-sm" v-on:click = "showUpdateTrait(t.id,index)" title="Edit trait">
                                    Edit <i class="far fa-edit"></i>  
                                </button> 
                                <button v-bind:id="'deleteTrait' + t.id" type="button" class="btn btn-outline-danger btn-sm" v-on:click = "deleteTrait(t.id)" title="Delete trait">
                                    Delete <i class="fas fa-user-minus fa-xs"></i>  
                                </button>                                      
                            </td>
                        </tr>
                    </tbody>  
                </table>                                              
            </div>
            <div class="modal-footer">  
                <div class="form-check mr-auto">
                    <input type="checkbox" class="form-check-input" v-on:change="updateRequireAllTraitContraints()" v-model="recruitment_params.trait_constraints_require_all" id="trait_constraints_require_all">
                    <label class="form-check-label" for="trait_constraints_require_all">Require all Includes to be true.</label>
                </div>
                
                <button class="btn btn-outline-success" type="button" v-on:click = "addTrait()">
                    <span v-html="addTraitButtonText"></span>
                </button>
            </div>
        </div>
    </div>
</div>