{% load crispy_forms_tags %}
<!-- setup modal -->  
<div class="modal" id="setupModalCenter" tabindex="-1" role="dialog" aria-labelledby="setupparameters" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Experiment Parameters</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="mainForm1">
                    <!-- experiment parameters -->

                    <div class="row">
                        <div class = "col"> 
                            {{form1.title | as_crispy_field }}                            
                        </div>
                        <div class = "col"> 
                            {{form1.experiment_manager | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class = "col">  
                            {{form1.account_default | as_crispy_field }}  
                        </div>
                        <div class = "col">
                            {{form1.school | as_crispy_field }}
                        </div>            
                    </div>                                 
                    <div class="row">                         
                        <div class = "col">  
                            {{form1.length_default | as_crispy_field }}
                        </div>
                        <div class = "col">
                            {{form1.showUpFee | as_crispy_field }}
                        </div>                                       
                    </div>
                    <div class="row">
                        <div class = "col" style="height: 300px;">                         
                            {{form1.notes | as_crispy_field }}
                        </div>
                        <div class = "col">
                            Institution(s)
                            <div id="institution_list_area" class = "overflow-auto" style="height: 300px;">
                                 {{form1.institution | as_crispy_field }} 
                            </div>                                                                                                              
                        </div>            
                    </div> 
                    <div class="row mt-4">
                        <div class = "col" >                         
                            {{form1.invitationText | as_crispy_field }}
                        </div>                                    
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            {{invitationEmailTemplateForm.invitation_email_template| as_crispy_field}}
                        </div>
                        <div class="col align-self-center">
                            <button type="button" class="btn btn-outline-primary" v-on:click = "fillInvitationTextFromTemplate()">
                                <span v-html="fillInvitationFromTemplateButtonText"></span>
                            </button>                            
                        </div>
                    </div>  
                    <div class="row mt-3">
                        <div class = "col" >
                             {{form1.reminderText | as_crispy_field }}
                             <button type="button" class="btn btn-outline-primary" v-on:click = "fillWithDefaultReminder()">
                                <span v-html="fillDefaultReminderButtonText"></span>
                             </button>
                        </div>
                    </div>                                                                  
                </form>  <!-- main form -->                                                   
            </div>
            <div class="modal-footer">                
            <button type="button" class="btn btn-outline-primary" v-on:click = "updateExperiment1()">
                <i class="fas fa-sign-in-alt"></i> [[buttonText1]]
            </button>
            </div>
        </div>
    </div>
</div>