{% load crispy_forms_tags %}
<!-- invite subjects to sesssion modal-->
<div class="modal" id="inviteSubjectsModalCenter" tabindex="-1" role="dialog" aria-labelledby="inviteSubjects" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <h5 class="modal-title" id="exampleModalLongTitle">Invite Subjects</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>               
            </div>
            <div class="modal-body">   
                <div class="row">
                    <div class = "col-md-2 text-center">
                        
                    </div>
                    <div class = "col-md-8">                                                   
                        <div class="input-group mb-3">
                            <input id="findInvitesInput"
                                   v-on:keyup.enter="findSubjectsToInvite()"
                                   v-model="subjectInvitationCount"
                                   id="id_number"
                                   type="number"
                                   class="form-control" 
                                   placeholder="Number of Subjects to Add ({{max_invitation_block_size}} Max)" 
                                   aria-label="Invite subjects" 
                                   aria-describedby="basic-addon2"
                                   min="0"
                                   max="{{max_invitation_block_size}}">
            
                                <button v-on:click="findSubjectsToInvite()" 
                                        class="btn btn-outline-primary" 
                                        type="button">
                                    Find <i class="fas fa-search"></i>
                                </button>

                                <button v-on:click="clearSubjectsToInvite()" 
                                        class="btn btn-outline-primary" 
                                        type="button">
                                    Clear <i class="fas fa-eraser"></i>
                                </button>
                        </div>
                        <div v-html="inviteResultsEmptyText" style="text-align: center;color: red;"></div>                        
                    </div>
                    <div class = "mb-3 mb-md-0 col-md-2 text-end">
                        <button v-on:click="showEditInvitation()" class="btn btn-outline-primary" type="button">Edit <i class="fas fa-pen"></i></button>
                    </div>
                </div>   
                <div class="row">
                    <div class = "col-md">
                        <div class="form-control scrollable"  v-html="session.invitationText" id="invitationText1"></div>
                    </div>
                </div>
                <hr>                
                <div class="row">
                    <div class="col-md">
                        <span v-html="subjectInvitationList"></span>
                    </div>
                </div>                            
            </div>
            <div class="modal-footer">
                <div v-if="session.canceled">
                    <div class = "text-center" style="color: red;">Session Canceled</div>
                </div>
                <div v-else>
                    <span v-if="invite_to_all" style="color: red;" class="me-4">
                        Warning: This will invite subjects to all future sessions.
                    </span>

                    <button v-on:click="inviteSubjects()" type="button" class="btn btn-outline-success">
                        <span v-html="inviteButtonText"></span>
                    </button>
                </div>               
            </div>
        </div>
    </div>
</div>
