
<!-- recruitment modal -->
<div class="modal" id="recruitmentModalCenter" tabindex="-1" role="dialog" aria-labelledby="recruitmentparameters" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">[[recruitmentTitle]]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">
                    <form id="updateRecruitmentParametersForm">
                        <!-- recruitment parameters -->
                        <div class="row">
                            <div class = "col"> 
                                {{updateRecruitmentParametersForm.gender}}                            
                            </div>
                            <div class = "col"> 
                                {{updateRecruitmentParametersForm.subject_type }}
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col"> 
                                {{updateRecruitmentParametersForm.actual_participants }}
                            </div>
                            <div class = "col">  
                                {{updateRecruitmentParametersForm.registration_cutoff  }}
                            </div>                            
                        </div> 
                        <div class="row">    
                            <div class = "col"> 
                                {{updateRecruitmentParametersForm.experience_constraint  }}
                            </div>
                            <div class = "col"> 
                                {{updateRecruitmentParametersForm.allow_multiple_participations  }}
                            </div>
                        </div>
                        <div class="row">    
                            <div class = "col"> 
                                {{updateRecruitmentParametersForm.experience_min  }}
                            </div>
                            <div class = "col"> 
                                {{updateRecruitmentParametersForm.experience_max  }}
                            </div>
                        </div>       
                            
                        <div class="row mb-4">
                            <div class = "col"> 
                                Exclude Institution Experience
                                <div class = "overflow-auto" style="height: 300px;">
                                    {{updateRecruitmentParametersForm.institutions_exclude  }} 
                                </div>     
                                <br>
                                {{updateRecruitmentParametersForm.institutions_exclude_all  }}                                                      
                            </div>
                            <div class = "col"> 
                                Include Institution Experience
                                <div class = "overflow-auto" style="height: 300px;">
                                    {{updateRecruitmentParametersForm.institutions_include  }}
                                </div>  
                                <br>
                                {{updateRecruitmentParametersForm.institutions_include_all }}                              
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class = "col"> 
                                Exclude Experiment Experience
                                <div class = "overflow-auto" style="height: 300px;">
                                    {{updateRecruitmentParametersForm.experiments_exclude  }}
                                </div>       
                                <br>
                                {{updateRecruitmentParametersForm.experiments_exclude_all  }}                           
                            </div>                            
                            <div class = "col"> 
                                Include Experiment Experience
                                <div class=" overflow-auto" style="height: 300px;">
                                    {{updateRecruitmentParametersForm.experiments_include  }}
                                </div>    
                                <br>
                                {{updateRecruitmentParametersForm.experiments_include_all  }}                              
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class = "col"> 
                                Exclude Subjects From
                                <div class = "overflow-auto" style="height: 150px;">
                                    {{updateRecruitmentParametersForm.schools_exclude  }}
                                </div>       
                                {{updateRecruitmentParametersForm.schools_exclude_constraint  }}                           
                            </div>                            
                            <div class = "col"> 
                                Include Subjects From
                                <div class=" overflow-auto" style="height: 150px;">
                                    {{updateRecruitmentParametersForm.schools_include  }}
                                </div>    
                                {{updateRecruitmentParametersForm.schools_include_constraint  }}                              
                            </div>
                        </div>
                    </form> <!-- recruitment parameters form -->                                            
                </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-outline-primary" v-on:click = "updateRecruitmentParameters()">
                    <i class="fas fa-sign-in-alt"></i> [[buttonText2]]
                </button>
            </div>
        </div>
    </div>
</div>