{% load crispy_forms_tags %}
<!-- setup modal -->
<div class="modal" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Session Parameters </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                    <form id="mainForm2">
                        <!-- setup parameters -->
                        <div class="row">
                            <div class = "col"> 
                                {{form2.location | as_crispy_field }}                            
                            </div>
                            <div class = "col"> 
                                {{form2.date | as_crispy_field }}   
                            </div>
                        </div>                              
                        <div class="row">
                            <div class = "col"> 
                                {{form2.account | as_crispy_field }}                          
                            </div>
                            <div class = "col"> 
                                {{form2.length | as_crispy_field }}  
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col"> 
                                {{form2.auto_reminder | as_crispy_field }}  
                            </div>
                            <div class = "col"> 
                                {{form2.enable_time | as_crispy_field }}  
                            </div>
                        </div>                        
                        <div class="row">
                            <div class = "col"> 
                                {{form2.custom_reminder_time | as_crispy_field }}  
                            </div>
                            <div class = "col"> 
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col"> 
                                <div v-if="currentSessionDay.custom_reminder_time === 'true' | currentSessionDay.custom_reminder_time">
                                    {{form2.reminder_time | as_crispy_field }}
                                </div>
                            </div>
                            <div class = "col"> 
                                
                            </div>
                        </div>
                    </form> <!-- recruitment parameters form -->                                            
                </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-outline-primary" v-on:click = "updateSessionDay()">
                    <i class="fas fa-sign-in-alt"></i> [[buttonText2]]
                </button>
            </div>
        </div>
    </div>
</div>