{% load crispy_forms_tags %}
<!-- setup modal -->
<div class="modal" id="setupModalCenter" tabindex="-1" role="dialog" aria-labelledby="setupParameters" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Session Day Parameters </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form id="mainForm2">
                        <!-- setup parameters -->
                        <div class="row">
                            <div class = "col"> 
                                {{form2.location | as_crispy_field }}                            
                            </div>
                            <div class = "col"> 
                                <div id="div_id_date" class="form-group">
                                    <label for="id_date" class="requiredField">
                                        Date and Time<span class="asteriskField">*</span>
                                    </label>
                                    <div>
                                       <date-picker name="date" id="id_date" v-model="currentSessionDay.date_local" :config="options" v-on:change="mainFormChange2" v-bind:disabled="session.confirmedCount > 0"></date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>                              
                        <div class="row">
                            <div class = "col"> 
                                {{form2.account | as_crispy_field }}                          
                            </div>
                            <div class = "col"> 
                                {{form2.length | as_crispy_field }}  
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col"> 
                                {{form2.auto_reminder | as_crispy_field }}  
                            </div>
                            <div class = "col"> 
                                {{form2.enable_time | as_crispy_field }}  
                            </div>
                        </div>                        
                        <div class="row">
                            <div class = "col"> 
                                {{form2.custom_reminder_time | as_crispy_field }}  
                            </div>
                            <div class = "col"> 
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class = "col"> 
                                <div v-if="currentSessionDay.custom_reminder_time === 'true' | currentSessionDay.custom_reminder_time">
                                    <div id="div_id_reminder_time" class="form-group">
                                        <label for="id_date" class="requiredField">
                                            Reminder Date and Time<span class="asteriskField">*</span>
                                        </label>
                                        <div>
                                        <date-picker name="reminder_time" id="id_reminder_time" 
                                                        v-model="currentSessionDay.reminder_time_local" :config="options"
                                                        v-on:change="mainFormChange2"></date-picker>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class = "col"> 
                                
                            </div>
                        </div>
                    </form> <!-- recruitment parameters form -->                                            
                </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-outline-primary" v-on:click = "updateSessionDay()">
                    <i class="fas fa-sign-in-alt"></i> [[buttonText2]]
                </button>
            </div>
        </div>
    </div>
</div>