<!-- subject view invitation text -->  
<div class="modal" id="subject_consent_form_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="subject_consent_form_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalTitle">Please complete the following items</h5>
                
            </div>
            <div class="modal-body">
                

            </div>  
            <div class="modal-footer" v-show="current_invitation && current_invitation.consent_form">            
                <div class="row">
                    
                </div>          
            </div>
                      
        </div>
    </div>
</div>