{% load crispy_forms_tags %}
<!-- setup modal -->  
<div class="modal" id="updateTraitModal" tabindex="-1" role="dialog" aria-labelledby="updateTraitModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <form id="traitConstraintForm">
                    {% for i in traitConstraintForm %}
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ i|as_crispy_field }}         
                        </div>            
                    </div> 
                    {% endfor %}
                </form>                                                            
            </div>
            <div class="modal-footer">                
                <button id="UpdateTrait" type="button" class="btn btn-outline-primary" v-on:click = "updateTrait()" title="Update trait">
                    <span v-html="updateTraitButtonText"></span>
                </button>
            </div>
        </div>
    </div>
</div>