{% load crispy_forms_tags %}
<!-- consent modal -->  
<div class="modal" id="uploadEarningsModal" tabindex="-1" role="dialog" aria-labelledby="uploadEarningsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Upload Earnings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class = "col" style="text-align: center;">
                        
                        <div class="custom-file">
                            <input type="file"
                                   ref="file"
                                   class="custom-file-input"
                                   id="parameterFileUpload"
                                   v-on:change="handleFileUpload()">
                            <label class="custom-file-label" for="file">[[upload_file_name]]</label>
                        </div> 

                    </div>   
                </div>
                <div class="row mt-4">                    
                    <div class = "col">                        
                        <div class="form-group">
                            <label for="earningsUploadText">
                                Format (tab or comma delimited):<br>
                                <span v-if="uploadIdType=='student_id'">Student_ID</span>
                                <span v-else-if="uploadIdType=='recruiter_id'">Recruiter_ID</span>
                                <span v-else>Public_ID</span>,
                                    Earnings [optional: ,On_Time_Bonus]
                            </label>
                            <textarea class="form-control"
                                      v-model="uploadEarningsText"
                                      placeholder="Copy and paste results here."
                                      id="earningsUploadText" rows="12"></textarea>
                        </div>
                    </div>   
                </div>
                <div class="row align-items-center">
                    <!-- id type -->
                    <div class="col text-center">                       
                        <div class="form-group">
                            <label for="IDTypeSelect">ID Type</label>
                            <select class="form-control" 
                                    id="IDTypeSelect"
                                    v-model="uploadIdType">
                                <option value="student_id" selected>Student ID</option>
                                <option value="recruiter_id">Recruiter ID</option> 
                                <option value="public_id">Public ID</option>                                     
                            </select>
                        </div>                               
                    </div>

                    <!-- upload button -->
                    <div class = "col text-center pt-3">
                        <button class="btn btn-outline-primary"
                                title="Upload the earnings text listed above."
                                v-on:click="uploadEarningsTextJS()"><span v-html="uploadEarningsTextBoxButtonText"></span>
                        </button>
                    </div>   
                </div>

                {%if user.is_staff%}
                <div class="row mt-4">
                    <div class = "col text-end">
                        <div class="form-check">
                            <input type="checkbox"
                                   title="If subjects are not in the session, add them."
                                   class="form-check-input"
                                   id="add_missing_subjects_id"
                                   v-model="auto_add_users_on_upload">
                            <label class="form-check-label"
                                   title="If subjects are not in the session, add them."
                                   for="add_missing_subjects_id">Add missing subjects.</label>
                         </div>
                    </div>
                </div>
                {%endif%}                
                <div class="row mt-4">
                    <div class = "col">
                        <span v-html="uploadEarningsMessage"></span>
                    </div>
                </div>                                                             
            </div>            
        </div>
    </div>
</div>