{%extends "base.html"%}

{%block head%}
    <title>Experiments</title>
{%endblock head%}

{%block content%}
    <div class="row justify-content-lg-center">
        {%if user.profile.type.name == "subject" %}
            <!-- <div class="col col-lg-6">
                <div class="card">                
                        <div class="card-header">
                            Your Experiments
                        </div>                        
                        <div class="card-body">
                            {% for e in experiments %}
                                <a href="{% url e.subject_url%}">{{e.subject_name}}</a><br>
                            {% empty %}
                                You are not in any experiments.
                            {% endfor %}
                        </div>                
                </div>            
            </div> -->
        {% else %}
            <div class="col col-lg-10">
                <div class="card">                  
                    <!-- <div class="card-header">
                        Experiments                        
                    </div>
                    <div class="card-body">
                        {% for e in experiments %}
                            <a href="{% url e.staff_url%}">{{e.staff_name}}</a><br>
                        {% endfor %}
                    </div>                     -->
                </div>                
            </div>
        {%endif%}
    </div>         
{%endblock content%}
