{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head%}

    <script type="text/javascript">
        $(document).ready(function(){                         
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
            axios.defaults.xsrfCookieName = "csrftoken";

            var app = new Vue({
                delimiters: ['[[', ']]'],
                el: '#root',        
                data:{
                    baseURL:'/profileVerifyResend/',  
                    emailVerified:{%if emailVerified%}true{%else%}false{%endif%},
                    failed:{%if failed%}true{%else%}false{%endif%},
                    status:"update",  
                    adminEmail : "",
                    admainName : "",
                    buttonText : 'Click to Verify <i class="fas fa-sign-in-alt"></i>',
                },

                methods:{
                    //get list of users based on search
                    verifyEmail: function(){
                        
                        app.$data.buttonText = '<i class="fas fa-spinner fa-spin"></i>';

                        axios.post('/profileVerify/{{token}}/', {                            
                            action:"verifyEmail",                             
                        })
                        .then(function (response) {                         
                          app.$data.emailVerified = response.data.emailVerified;
                          app.$data.failed = response.data.failed;
                          app.$data.buttonText ='Click to Verify <i class="fas fa-sign-in-alt"></i>';
                        })
                        .catch(function (error) {
                            console.log(error);                               
                        }); 
                    }, 
                  
                },
                
                mounted: function(){
                    
                },
            });
        });
    </script>

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
{%endblock head%}

{% block content %}

<div class="row justify-content-md-center">
  <div class="col col-lg-4">
    <div class="card">
      <div class="card-header">
        <h5>Verify Your Email Address</h5>
      </div>

      <div class="card-body">
        <div v-if="failed" v-cloak>
          <div class="row">
            <div class = "col">  
              <center>                
                  The verification link no longer works.<br>
                  <a href="{% url 'profileVerifyResend'%}">Create a new one</a>
              </center>         
            </div>            
          </div>
        </div>
        <div v-else-if="emailVerified" v-cloak>
          <div class="row">
            <div class = "col">  
              <center>                
                  Email verified.<br>
                  <a href="{% url 'mainHome'%}">Return</a>
              </center>         
            </div>            
          </div>
        </div>
        <div v-else v-cloak>
                      
            <div class="row">
                <div class="col">
                  <center>
                    <button type="button" v-on:click="verifyEmail()" class="btn btn-outline-primary">
                       <span v-html="buttonText"></span>
                    </button>
                  </center>
                </div>
            </div>

        </div>

      </div>      
    </div>
  </div>
</div>

{% endblock %}