{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-md-center">
  <div class="col col-lg-6">
    <div class="card">
      <div class="card-header">
        Sign up
      </div>

      <div class="card-body">

        {%if status == 'update' %}

        {{ form.non_field_errors }}        

        <form method="post" action="{% url 'profileCreate' %}">
          {% csrf_token %}           
          
          {% for i in form %}
            <div class="row">
              <div class = "col col-md-10 offset-md-1">  
                {{ i|as_crispy_field }}         
              </div>            
            </div> 
          {% endfor %}         

          <div class="row">
            <div class="col col-md-8 offset-md-1">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-sign-in-alt"></i> Submit</button>
            </div>
          </div>    
                 
        </form>

        {%else%}
          <div class="row">
            <div class = "col col-md-8 offset-md-2">  
              <center>                
                Your profile has been created, check your email for a confirmation link.<br>
                <a href="{% url 'profileVerifyResend' token %}">Send link again</a>                
              </center>         
            </div>            
          </div>
        {%endif%}
      </div>      
    </div>
  </div>
</div>

{% endblock %}