{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-md-center">
  <div class="col col-lg-6">
    <div class="card">
      <div class="card-header">
        Account Information
      </div>

      <div class="card-body">

        {%if status == 'update' %}

        {{ form.non_field_errors }}        

        <form method="post" action="{% url 'profile' %}" autocomplete="off">
          {% csrf_token %}            
          
          {% for i in form %}
            <div class="row">
              <div class = "col col-md-10 offset-md-1">  
                {{ i|as_crispy_field }}         
              </div>            
            </div> 
          {% endfor %}  

          <div class="row">
            <div class="col col-md-10 offset-md-1">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-sign-in-alt"></i> Update</button>
            </div>
          </div>           
        </form>

        {%else%}
          <div class="row">
            <div class = "col col-md-10 offset-md-1">  
              <center>                
                Profile updated.<br>
                {%if emailVerificationRequired%}
                Your email address was changed, check your inbox for a confirmation link.<br>
                {%endif%}
                <a href="{% url 'mainHome'%}">Return</a>
              </center>         
            </div>            
          </div>
        {%endif%}
      </div>      
    </div>
  </div>
</div>

{% endblock %}