{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-md-center">
  <div class="col col-lg-6">
    <div class="card">
      <div class="card-header">
        Account Information
      </div>

      <div class="card-body">

        {%if status == 'update' %}

        {{ form.non_field_errors }}        

        <form method="post" action="{% url 'profile' %}">
          {% csrf_token %}            
          <div class="row">
            <div class = "col col-md-10 offset-md-1">  
              {{ form.first_name|as_crispy_field }}         
            </div>            
          </div>  
          <div class="row">
            <div class = "col col-md-10 offset-md-1">  
              {{ form.last_name|as_crispy_field }}       
            </div>            
          </div>
          <div class="row">
            <div class = "col col-md-10 offset-md-1">  
              {{ form.chapman_id|as_crispy_field }}         
            </div>            
          </div>
          <div class="row">
              <div class = "col col-md-10 offset-md-1">  
                {{ form.email|as_crispy_field }}         
              </div>            
            </div>
          <div class="row">
              <div class = "col col-md-10 offset-md-1">  
                {{ form.gender|as_crispy_field }}         
              </div>            
            </div>
          <div class="row">
              <div class = "col col-md-10 offset-md-1">  
                {{ form.password1|as_crispy_field }}         
              </div>            
            </div>
          <div class="row">
              <div class = "col col-md-10 offset-md-1">  
                {{ form.password2|as_crispy_field }}         
              </div>            
          </div>

          <div class="row">
            <div class="col col-md-10 offset-md-1">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-sign-in-alt"></i> Update</button>
            </div>
          </div>           
        </form>

        {%else%}
          <div class="row">
            <div class = "col col-md-10 offset-md-1">  
              <center>                
                Profile updated.<br>
                <a href="{% url 'mainHome'%}">Return</a>
              </center>         
            </div>            
          </div>
        {%endif%}
      </div>      
    </div>
  </div>
</div>

{% endblock %}